<a href="https://colab.research.google.com/github/charlesdaigre/project_lewagon_rua/blob/main/Project_Rua.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_rua_2024 = pd.read_csv('/content/rua_2024_raw.csv',encoding='latin1')

In [ ]:
df_rua_2024.shape

(13358, 12)

In [ ]:
df_rua_2024.head(25)

/usr/local/lib/python3.10/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
1,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,2,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2024 05:31:02,1,"""F"",""FILE993"",""Z"",""D""\n ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2024 05:31:04,1,"""F"",""FILE993"",""Z"",""D""\n ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
6,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,REG 02-01-2024 05:25 000007\nInli...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
9,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,REG DANIELLE 02-01-2024 09:24 000020\n ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
12,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,5 No\n HOLD BALANC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
15,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,HOLD BALANCE _ _ _Õ_2_4_._5_5\n ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
18,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NEW ANTRIM\nREG D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
21,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,_T_O_T_A_L _ _ _Õ_1_4_._3_0\n VO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,8 of 4402,NaN,NaN,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,14/06/2024
24,From:,01/01/2024,NaN,To:,14/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Créer une liste pour stocker les nouvelles lignes
nouvelles_lignes = []

# Parcourir chaque ligne du DataFrame
for index, row in df_rua_2024.iterrows():
    # Diviser le contenu de la cellule par les sauts de ligne
    lignes = str(row['Unnamed: 2']).split('\n')

    # Créer une nouvelle ligne pour chaque élément divisé
    for ligne in lignes:
        nouvelle_ligne = row.copy()
        nouvelle_ligne['Unnamed: 2'] = ligne.strip()
        nouvelles_lignes.append(nouvelle_ligne)

# Créer un nouveau DataFrame à partir des nouvelles lignes
df_rua_2024_clean_v1 = pd.DataFrame(nouvelles_lignes)

In [ ]:
df_rua_2022_clean_v1.shape

(96921, 12)

In [ ]:
df_rua_2022_clean_v1.head(50)

/usr/local/lib/python3.10/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1 of 10059,NaN,nan,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,15/06/2024
1,From:,01/01/2022,nan,To:,31/12/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,2,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,"""F"",""FILE993"",""Z"",""D""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,REG 01-01-2022 05:29 000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,Z 0000058 E-JOURNAL 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,REG 01-01-2022 05:29 000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2022 05:30:58,1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,"""F"",""FILE993"",""Z"",""D""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,REG 02-01-2022 05:29 000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,Z 0000058 E-JOURNAL 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,REG 02-01-2022 05:29 000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/01/2022 05:30:57,1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2 of 10059,NaN,nan,NaN,NaN,Journal log list,NaN,NaN,NaN,NaN,Date:,15/06/2024
6,From:,01/01/2022,nan,To:,31/12/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,REG 02-01-2022 05:29 000007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Normal End,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,REG 02-01-2022 05:29 000008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Normal End,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,REG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,"""F"",""FILE993"",""Z"",""D""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,REG 03-01-2022 05:29 000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,Z 0000058 E-JOURNAL 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,REG 03-01-2022 05:29 000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04/01/2022 05:30:58,1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,05/01/2022 05:30:59,1,"""F"",""FILE993"",""Z"",""D""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,05/01/2022 05:30:59,1,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,05/01/2022 05:30:59,1,REG 04-01-2022 05:29 000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,05/01/2022 05:30:59,1,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_rua_2024_clean_v1.fillna('', inplace=True)

In [ ]:
import pandas as pd
import re  # Ajouter cette ligne pour importer le module d'expressions régulières

# Fonction pour extraire les informations
def extract_information(row):
    match = re.match(r'([A-Z\s]+) (\d{2}-\d{2}-\d{4}|\d{4}-\d{2}-\d{2}) (\d{2}:\d{2}) (\d+)', row)
    if match:
        prenom = match.group(1).strip()
        date = match.group(2)
        heure = match.group(3)
        transaction_num = match.group(4)
        return pd.Series([prenom, date, heure, transaction_num])
    else:
        return pd.Series(['', '', '', ''])  # Retourner des valeurs vides si le format ne correspond pas

# Appliquer la fonction et créer de nouvelles colonnes
df_rua_2024_clean_v1[['Prenom', 'Date', 'Heure', 'Transaction']] = df_rua_2024_clean_v1['Unnamed: 2'].apply(extract_information)

In [ ]:
def extract_information(row):
    match = re.match(r'([A-Z\s]+)\s+(\d{2}-\d{2}-\d{4}|\d{4}-\d{2}-\d{2})\s+(\d{2}:\d{2})\s+(\d+)', row)
    if match:
        prenom = match.group(1).strip()
        date = match.group(2)
        heure = match.group(3)
        transaction_num = match.group(4)
        return pd.Series([prenom, date, heure, transaction_num])
    else:
        return pd.Series(['', '', '', ''])  # Retourner des valeurs vides si le format ne correspond pas

# Appliquer la fonction et créer de nouvelles colonnes
df_rua_2024_clean_v1[['Prenom', 'Date', 'Heure', 'Transaction']] = df_rua_2024_clean_v1['Unnamed: 2'].apply(extract_information)

In [ ]:
# Fonction pour extraire le prix
def extract_price(row):
    match = re.search(r'€(\d+\.\d{2})', row)
    if match:
        return match.group(1)
    else:
        return ''

# Appliquer la fonction et créer une nouvelle colonne 'Prix'
df_rua_2024_clean_v1['Prix'] = df_rua_2024_clean_v1['Unnamed: 2'].apply(extract_price)

In [ ]:
df_rua_2022_clean_v1.iloc[1200:1225]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Prenom,Date,Heure,Transaction,Prix
366,,,VAT @ 13.5% Õ0.39,,,,,,,,,,,,,,
366,,,EX VAT@9% Õ2,,,,,,,,,,,,,,
367,120 of 10059,,nan,,,Journal log list,,,,,Date:,15/06/2024,,,,,
368,From:,01/01/2022,nan,To:,31/12/2022,,,,,,,,,,,,
369,,,_T_O_T_A_L _ _ _Õ_7_._5_0,,,,,,,,,,,,,,
369,,,_C_A_S_H Õ10.00,,,,,,,,,,,,,,
369,,,_C_H_A_N_G_E Õ2.50,,,,,,,,,,,,,,
369,,,NEW ANTRIM,,,,,,,,,,,,,,
369,,,REG LISA 10-01-2022 12:18 000092,,,,,,,,,,REG LISA,10-01-2022,12:18,000092,
369,,,SHOW TABLES 50,,,,,,,,,,,,,,
369,,,1 FR CHICKEN,,,,,,,,,,,,,,
370,121 of 10059,,nan,,,Journal log list,,,,,Date:,15/06/2024,,,,,
371,From:,01/01/2022,nan,To:,31/12/2022,,,,,,,,,,,,
372,,,EX VAT@9% Õ13.72,,,,,,,,,,,,,,
372,,,VAT@9% Õ1.23,,,,,,,,,,,,,,
372,,,_T_O_T_A_L _ _ _Õ_1_8_._9_5,,,,,,,,,,,,,,
372,,,_C_A_S_H Õ100.00,,,,,,,,,,,,,,
372,,,_C_H_A_N_G_E Õ81.05,,,,,,,,,,,,,,
372,,,NEW ANTRIM,,,,,,,,,,,,,,
372,,,REG SINEAD 10-01-2022,,,,,,,,,,,,,,
373,122 of 10059,,nan,,,Journal log list,,,,,Date:,15/06/2024,,,,,
374,From:,01/01/2022,nan,To:,31/12/2022,,,,,,,,,,,,
375,,,REG LISA 10-01-2022 13:03 000112,,,,,,,,,,REG LISA,10-01-2022,13:03,000112,
375,,,SHOW TABLES 8,,,,,,,,,,,,,,
375,,,SUBTOTAL Õ34.05,,,,,,,,,,,,,,

In [ ]:
# Liste des colonnes à supprimer
cols_to_drop = ['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 4' , 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

# Supprimer les colonnes spécifiées
df_rua_2024_clean_v1.drop(cols_to_drop, axis=1, inplace=True)

In [ ]:
# Remplacer le symbole Õ par le symbole €
df_rua_2024_clean_v1 = df_rua_2024_clean_v1.replace('Õ', '€', regex=True)

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(row):
    match = re.search(r'_T_O_T_A_L\s*_[\s\d_]*€([\d._]+)', row)
    if match:
        total_str = match.group(1).replace('_', '').replace('.', '').replace(',', '.')
        return total_str
    else:
        return ''

# Appliquer la fonction et créer une nouvelle colonne 'Total Transaction'
df_rua_2024_clean_v1['Total Transaction'] = df_rua_2024_clean_v1['Unnamed: 2'].apply(extract_total_transaction)/100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(row):
    match = re.search(r'_T_O_T_A_L\s*_[\s\d_]*€([\d.,]+)', row)
    if match:
        total_str = match.group(1).replace('_', '').replace('.', '').replace(',', '.')
        return float(total_str)  # Convertir en float pour les opérations arithmétiques
    else:
        return ' '  # Retourner 0.0 si aucun total n'est trouvé

# Appliquer la fonction et créer une nouvelle colonne 'Total Transaction'
df_rua_2022_clean_v1['Total Transaction'] = df_rua_2022_clean_v1['Unnamed: 2'].apply(extract_total_transaction)

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(row):
    match = re.search(r'_T_O_T_A_L\s*_[\s\d_]*€([\d._]+)', row)
    if match:
        total_str = match.group(1).replace('_', '').replace('.', '').replace(',', '.')
        return total_str
    else:
        return ' '

# Appliquer la fonction et créer une nouvelle colonne 'Total Transaction'
df_rua_2024_clean_v1['Total Transaction'] = df_rua_2024_clean_v1['Unnamed: 2'].apply(extract_total_transaction)

In [ ]:
#mettre vrai prix dans colonne total transaction
df_rua_2024_clean_v1['Total Transaction'] = pd.to_numeric(df_rua_2024_clean_v1['Total Transaction'], errors='coerce')


df_rua_2024_clean_v1['Total Transaction'] = df_rua_2024_clean_v1['Total Transaction'] / 100

In [ ]:
df_rua_2022_clean_v1.iloc[1000:1025]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 6,Unnamed: 7,Unnamed: 8,Prenom,Date,Heure,Transaction,Prix,Total Transaction,paiement_method,ITEM,CATEGORY
384,,SUBTOTAL €26.50,,,,,,,,,NaN,,,
384,,,,,,,,,,,NaN,,,
385,126 of 10059,nan,,,,,,,,,NaN,,,
386,From:,nan,,,,,,,,,NaN,,,
387,,1 8oz FLAT WHITE TA €2.90,,,,,,,,,NaN,,Flat White,Drinks
387,,1 OAT MILK TA €0.55,,,,,,,,,NaN,,,
387,,1 BROWNIES €2.70,,,,,,,,,NaN,,Brownies,Cakes
387,,EX VAT @ 13.5% €2.38,,,,,,,,,NaN,,,
387,,VAT @ 13.5% €0.32,,,,,,,,,NaN,,,
387,,EX VAT@9% €3.17,,,,,,,,,NaN,,,
388,127 of 10059,nan,,,,,,,,,NaN,,,
389,From:,nan,,,,,,,,,NaN,,,
390,,REG LISA 10-01-2022 14:24 000160,,,,REG LISA,10-01-2022,14:24,000160,,NaN,,,
390,,SHOW TABLES 1,,,,,,,,,NaN,,,
390,,SUBTOTAL €17.75,,,,,,,,,NaN,,,
390,,1 CRUMBLE,,,,,,,,,NaN,,Crumble,Cakes
391,128 of 10059,nan,,,,,,,,,NaN,,,
392,From:,nan,,,,,,,,,NaN,,,
393,,VAT @ 13.5% €1.30,,,,,,,,,NaN,,,
393,,EX VAT@9% €1.84,,,,,,,,,NaN,,,
393,,VAT@9% €0.16,,,,,,,,,NaN,,,
393,,_T_O_T_A_L _ _ _€_1_2_._9_5,,,,,,,,,12.95,,,
393,,_C_A_S_H €20.00,,,,,,,,,NaN,Cash,,
393,,_C_H_A_N_G_E €7.05,,,,,,,,,NaN,,,
393,,,,,,,,,,,NaN,,,

In [ ]:
# supprimer les lignes NEW ANTRIM
df_rua_2024_clean_v1 = df_rua_2024_clean_v1[~df_rua_2024_clean_v1['Unnamed: 2'].str.contains('NEW ANTRIM', na=False)]

In [ ]:
#supprimer les ligne No
df_rua_2024_clean_v1 = df_rua_2024_clean_v1[~df_rua_2024_clean_v1['Unnamed: 2'].str.contains('No', na=False)]

In [ ]:
#supprimer les lignes HOLD
df_rua_2024_clean_v1 = df_rua_2024_clean_v1[~df_rua_2024_clean_v1['Unnamed: 2'].str.contains('HOLD', na=False)]

In [ ]:
#supprimer les lignes SHOW TABLES
df_rua_2024_clean_v2 = df_rua_2024_clean_v2[~df_rua_2024_clean_v2['raw_data'].str.contains('SHOW TABLES ', na=False)]

NameError: name 'df_rua_2024_clean_v2' is not defined

In [ ]:
#mettre vrai prix dans colonne total transaction
df_rua_2022_clean_v1['Total Transaction'] = pd.to_numeric(df_rua_2022_clean_v1['Total Transaction'], errors='coerce')


df_rua_2022_clean_v1['Total Transaction'] = df_rua_2022_clean_v1['Total Transaction'] * 100

In [ ]:
# Définir une fonction pour extraire les méthodes de paiement
def extract_payment_method(text):

    if 'Visa' in text:
        return 'Visa'
    elif 'VOUCHER REDEEM' in text:
        return 'Voucher'
    elif '_C_A_S_H' in text:
        return 'Cash'
    # Ajoutez d'autres conditions elif au besoin pour d'autres méthodes de paiement
    else:
        return ''  # Retourner 'Unknown' ou laisser vide si aucune méthode de paiement n'est trouvée

# Appliquer la fonction extract_payment_method à la colonne 'Unnamed: 2' pour créer la colonne 'paiement_method'
df_rua_2022_clean_v1['paiement_method'] = df_rua_2022_clean_v1['Unnamed: 2'].apply(extract_payment_method)

In [ ]:
def assign_item(i):
    if pd.isna(i):
        return (' ')
    if 'CHORIZO BFAST' in i:
        return 'Bricfeasta'
    elif 'SOUP' in i:
        return 'Today_Soup'
    elif 'GOAT CHEESE SALAD' in i:
        return 'Warm Goat Cheese Salad'
    # Ajoutez d'autres conditions elif au besoin
    elif 'WARM CHICKEN SALAD' in i:
        return 'Warm Chicken Salad	'
    elif 'TUNA SALAD' in i:
        return 'Ortiz Tuna & Free Range Egg	'
    elif 'GOAT CHEESE SALAD' in i:
        return 'Warm Goats Cheese'
    elif 'RUA TOASTED' in i:
        return 'Lunch'
    elif 'GOATS TSD' in i:
        return 'Goats Cheese, Beetroot & Fennel Jam'
    elif 'CHK TSD' in i:
        return 'Roast Chicken, Arrabbiata Sauce'
    elif 'BACON TSD' in i:
        return 'Andarl Farm Bacon & Cheddar Rarebit'
    elif 'FALAFEL BUR' in i:
        return 'Chickpea Falafel Burger	'
    elif 'KELLYS BLAA' in i:
        return 'Kellys Sausages'
    elif 'CR FRY' in i:
        return 'Cafe Rua Fry'
    elif 'VEGAN FRY' in i:
        return 'Vegan Fry	'
    elif 'SCRAM BFA' in i:
        return 'Free Range Scrambled Eggs	'
    elif 'CHORIZO BFAST' in i:
        return 'Chorizo Hash with Fried Egg	'
    elif 'FR TOAST' in i:
        return 'French Toast	'
    elif 'BFAST BLAA' in i:
        return 'Breakfast Blaa	'
    elif 'PORRIDGE' in i:
        return 'Porridge'
    elif 'GRANOLA' in i:
        return 'Rua Granola'
    elif 'BIRCHER' in i:
        return 'Bircher'
    elif 'LEAF SALAD' in i:
        return 'Leaf Salad'
    elif 'PORTION VEG' in i:
        return 'Carrot & Coriander Slow	'
    elif 'POT SALAD' in i:
        return 'Potato & Scallion Salad	'
    elif 'PASTA SALAD' in i:
        return 'Pappardelle Pasta Salad	'
    elif 'PTN HALLOUMI' in i:
        return 'Halloumi'
    elif 'PTN MUSHROOMS' in i:
        return 'Flatfield Mushrooms	'
    elif 'PTN RASHERS' in i:
        return 'Kellys Dry Cured Rashers'
    elif 'PTN SAUSAGES' in i:
        return 'Kellys Sausages'
    elif 'PTN SAUSAGES' in i:
        return 'Sides'
    elif 'PTN TOMATO' in i:
        return 'Sides'
    elif 'AMERICANO LRG' in i:
        return 'AMERICANO'
    elif 'CAPPUCCINO LRG' in i:
        return 'CAPUCINO'
    elif 'AMERICANO TA ' in i:
        return 'Americano TAKE AWAY'
    elif 'MOCHA TA' in i:
        return 'Mocha TAKE AWAY'
    elif 'TEA' in i:
        return 'Pot of Barrys Tea (pot for 1)'
    elif 'PIE & ICE/CUST' in i:
        return 'Apple Pie and Custard'
    elif 'FLAT WHITE' in i:
        return 'Flat White'
    elif 'EX SHOT' in i:
        return 'Extra Shot'
    elif 'HOT CHOC' in i:
        return 'Hot Chocolate'
    elif 'LATTE' in i:
        return 'Latte'
    elif 'PASTA' in i:
        return 'Pasta Salad'
    elif 'FISH O DAY' in i:
        return 'Fish Of the Day'
    elif 'PATE SALAD' in i:
        return 'RUA Chicken Liver Pate Salad'
    elif 'PORK DISH' in i:
        return 'Pork Specials of the Day'
    elif 'FRESH OJ' in i:
        return 'Fresh Orange Juice'
    elif 'PTN PUDDING' in i:
        return 'Kellys Pudding'
    elif 'CRUMBLE' in i:
        return 'Crumble'
    elif 'ORANGE/LEMON CAKE' in i:
        return 'Orange Cake Slice'
    elif 'KOMBUCHA' in i:
        return 'Kombucha'
    elif 'ROULADE' in i:
        return 'Roulade Slice'
    elif 'VEG SPECIAL' in i:
        return 'Vegetarian of the Day'
    elif 'BROWNIE & ICE CREAM' in i:
        return 'Brownie and Ice Cream'
    elif '1SHOT CAP/LA' in i:
        return 'Capucino One Shot'
    elif 'PTN SAUTEED' in i:
        return 'Portion of Sauteed Potatoes'
    elif 'RAYU' in i:
        return 'Rayu'
    elif 'CAPUCINO TA' in i:
        return 'Capucino Take Away'
    elif 'AMERICANO REG' in i:
        return 'Americano Small'
    elif 'LARGE BROWM' in i:
        return 'Large Bread'
    elif 'BREAD SLICE' in i:
        return 'Bread Slice'
    elif 'GAN BHO' in i:
        return 'Gan Bho'
    elif 'BROWNIES' in i:
        return 'Brownies'
    elif 'APPLE J' in i:
        return 'Apple  Juice'
    elif 'FISHCAKES' in i:
        return 'FishCakes'
    elif 'POACHED EGG' in i:
        return 'Poached Egg'
    elif 'CHICKEN DINNER' in i:
        return 'Specials Chicken of the Day'
    elif 'FR CHICKEN' in i:
        return 'Speicials Free Range Chicken'
    elif 'APPLE' in  i:
        return 'Apple Topings'
    elif 'FRUIT COMPOTE' in i:
        return 'Fruit Topings'
    elif 'BEEF STEW' in i:
        return 'Specials Beef Of the Day'
    elif 'LEMONADE' in i:
        return 'Lemonade'
    elif 'DESSERT SPEC' in i:
        return 'Cakes of the day'
    elif 'PTN TOAST' in i:
        return 'Portion of toast'
    elif 'SCONES' in i:
        return 'Scones'
    elif 'CROISSANT' in i:
        return 'Croissant'
    elif 'APPLE JUICE SM' in i:
        return 'Small Apple Juice'
    elif 'HONEY ROAST BACON' in i:
        return 'Special Bacon of the Day'
    elif 'SPECIAL' in i:
        return 'Specials'
    elif 'LUSCOMBE' in i:
        return 'Luscombe Beer'
    elif 'BFAST OPEN' in i:
        return 'Breakfast of the day'
    elif 'SCONE CAFE' in i:
        return 'Scone and Coffee'
    elif 'LAMB DISH' in i:
        return 'Specials Lamb of the day'


    else:
        return ' '

df_rua_2022_clean_v1.loc[:,'ITEM'] = df_rua_2022_clean_v1['Unnamed: 2'].apply(assign_item)

In [ ]:
def assign_category(x):
    if pd.isna(x):
        return ' '
    if 'CHORIZO BFAST' in x:
        return 'Bricfeasta'
    elif 'SOUP' in x:
        return 'Lunch'
    elif 'GOAT CHEESE SALAD' in x:
        return 'Lunch'
    # Ajoutez d'autres conditions elif au besoin
    elif 'WARM CHICKEN SALAD' in x:
        return 'Lunch'
    elif 'TUNA SALAD' in x:
        return 'Lunch'
    elif 'GOAT CHEESE SALAD' in x:
        return 'Lunch'
    elif 'RUA TOASTED' in x:
        return 'Lunch'
    elif 'GOATS TSD' in x:
        return 'Lunch'
    elif 'CHK TSD' in x:
        return 'Sandwich'
    elif 'BACON TSD' in x:
        return 'Sandwich'
    elif 'FALAFEL BUR' in x:
        return 'Sandwich'
    elif 'KELLYS BLAA' in x:
        return 'Sandwich'
    elif 'CR FRY' in x:
        return 'Bricfeasta'
    elif 'VEGAN FRY' in x:
        return 'Bricfeasta'
    elif 'SCRAM BFA' in x:
        return 'Bricfeasta'
    elif 'CHORIZO BFAST' in x:
        return 'Bricfeasta'
    elif 'FR TOAST' in x:
        return 'Bricfeasta'
    elif 'BFAST BLAA' in x:
        return 'Bricfeasta'
    elif 'PORRIDGE' in x:
        return 'Bricfeasta'
    elif 'GRANOLA' in x:
        return 'Bricfeasta'
    elif 'BIRCHER' in x:
        return 'Bricfeasta'
    elif 'LEAF SALAD' in x:
        return 'Sides'
    elif 'PORTION VEG' in x:
        return 'Sides'
    elif 'POT SALAD' in x:
        return 'Sides'
    elif 'PASTA SALAD' in x:
        return 'Sides'
    elif 'PTN HALLOUMI' in x:
        return 'Sides'
    elif 'PTN MUSHROOMS' in x:
        return 'Sides'
    elif 'PTN RASHERS' in x:
        return 'Sides'
    elif 'PTN SAUSAGES' in x:
        return 'Sides'
    elif 'PTN SAUSAGES' in x:
        return 'Sides'
    elif 'PTN TOMATO' in x:
        return 'Sides'
    elif 'AMERICANO LRG' in x:
        return 'Drinks'
    elif 'CAPPUCCINO LRG' in x:
        return 'Drinks'
    elif 'AMERICANO TA ' in x:
        return 'Drinks'
    elif 'MOCHA TA' in x:
        return 'Drniks'
    elif 'TEA' in x:
        return 'Drinks'
    elif 'PIE & ICE/CUST' in x:
        return 'Dessert'
    elif 'FLAT WHITE' in x:
        return 'Drinks'
    elif 'EX SHOT' in x:
        return 'Drinks'
    elif 'HOT CHOC' in x:
        return 'Drinks'
    elif 'LATTE' in x:
        return 'Drinks'
    elif 'PASTA' in x:
        return 'Sides'
    elif 'FISH O DAY' in x:
        return 'Specials'
    elif 'PATE SALAD' in x:
        return 'Salads'
    elif 'PORK DISH' in x:
        return 'Specials'
    elif 'FRESH OJ' in x:
        return 'Drinks'
    elif 'PTN PUDDING' in x:
        return 'Sides'
    elif 'CRUMBLE' in x:
        return 'Cakes'
    elif 'ORANGE/LEMON CAKE' in x:
        return 'Cakes'
    elif 'KOMBUCHA' in x:
        return 'Drinks'
    elif 'ROULADE' in x:
        return 'Cakes'
    elif 'VEG SPECIAL' in x:
        return 'Specials'
    elif 'BROWNIE & ICE CREAM' in x:
        return 'Specials'
    elif '1SHOT CAP/LA' in x:
        return 'Drinks'
    elif 'PTN SAUTEED' in x:
        return 'Sides'
    elif 'RAYU' in x:
        return 'Retails'
    elif 'CAPUCINO TA' in x:
        return 'Drinks'
    elif 'AMERICANO REG' in x:
        return 'Drinks'
    elif 'LARGE BROWM' in x:
        return 'Sides'
    elif 'BREAD SLICE' in x:
        return 'Sides'
    elif 'GAN BHO' in x:
        return 'Cakes'
    elif 'BROWNIES' in x:
        return 'Cakes'
    elif 'APPLE J' in x:
        return 'Drinks'
    elif 'FISHCAKES' in x:
        return 'Lunch'
    elif 'POACHED EGG' in x:
        return 'Lunch'
    elif 'CHICKEN DINNER' in x:
        return 'Specials'
    elif 'FR CHICKEN' in x:
        return 'Speicials'
    elif 'APPLE' in  x:
        return 'Topings'
    elif 'FRUIT COMPOTE' in x:
        return 'Topings'
    elif 'BEEF STEW' in x:
        return 'Specials'
    elif 'LEMONADE' in x:
        return 'Drinks'
    elif 'DESSERT SPEC' in x:
        return 'Cakes'
    elif 'PTN TOAST' in x:
        return 'Sides'
    elif 'SCONES' in x:
        return 'Bricfeasta'
    elif 'CROISSANT' in x:
        return 'Bricfeasta'
    elif 'APPLE JUICE SM' in x:
        return 'Drinks'
    elif 'HONEY ROAST BACON' in x:
        return 'Specials'
    elif 'SPECIAL' in x:
        return 'Specials'
    elif 'LUSCOMBE' in x:
        return 'Drinks'
    elif 'BFAST OPEN' in x:
        return 'Bricfeasta'
    elif 'SCONE CAFE' in x:
        return 'Bricfeasta'
    elif 'LAMB DISH' in x:
        return 'Specials'

    else:
        return ' '

df_rua_2022_clean_v1.loc[:,'CATEGORY'] = df_rua_2022_clean_v1['Unnamed: 2'].apply(assign_category)

In [ ]:
df_rua_2022_clean_v1.to_csv('rua_2022_clean_v1.csv', index=False)

In [ ]:
df_rua_2022_clean_v1.to_excel('rua_2022_clean_v1.xlsx')

In [ ]:
import pandas as pd

In [ ]:
df_rua_2022_clean_v2 = pd.read_csv('/content/rua_2022_clean_v1.csv')

In [ ]:
#supprimer les lignes Inline
df_rua_2024_clean_v1 = df_rua_2024_clean_v1[~df_rua_2024_clean_v1['Unnamed: 2'].str.contains('Inline', na=False)]

In [ ]:
#supprimer les lignes Receive
df_rua_2024_clean_v1 = df_rua_2024_clean_v1[~df_rua_2024_clean_v1['Unnamed: 2'].str.contains('Receive', na=False)]

In [ ]:
import re

In [ ]:
# Fonction pour extraire le prix
# Fonction pour extraire le prix en ignorant les lignes contenant "VAT"
def extract_price(row):
    if isinstance(row, str) and 'VAT'  not in row:  # Vérifie si row est une chaîne de caractères et ne contient pas "VAT"
        match = re.search(r'€(\d+\.\d{2})', row)
        if match:
            return match.group(1)
    return ''  # Retourne une chaîne vide si row n'est pas une chaîne de caractères, contient "VAT" ou s'il n'y a pas de match

# Appliquer la fonction et créer une nouvelle colonne 'Prix'
df_rua_2022_clean_v2['Prix'] = df_rua_2022_clean_v2['raw_data'].apply(extract_price)

In [ ]:
# Fonction pour extraire le prix en ignorant les lignes contenant des mots clés spécifiques
def extract_price(row):
    if isinstance(row, str):
        if any(keyword in row for keyword in ['VAT', 'Visa', '_C_A_S_H', '_C_H_A_N_G_E']):
            return ''  # Ignorer la ligne si elle contient l'un des mots clés spécifiques
        match = re.search(r'€(\d+\.\d{2})', row)
        if match:
            return match.group(1)
    return ''  # Retourner une chaîne vide si row n'est pas une chaîne de caractères ou s'il n'y a pas de match

# Appliquer la fonction extract_price à la colonne 'Unnamed: 2' pour créer la colonne 'Prix'
df_rua_2024_clean_v1['Prix'] = df_rua_2024_clean_v1['raw_data'].apply(extract_price)

In [ ]:
df_rua_2024_clean_v1.iloc[900:925]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,raw_data,Unnamed: 6,Unnamed: 7,Unnamed: 8,Prenom,Date,Heure,Prix,Total Transaction,CATEGORY,ITEM
372,,VAT @ 13.5% €3.39,,,,,NaT,NaT,,NaN,,
372,,_T_O_T_A_L _ _ _€_2_8_._5_5,,,,,NaT,NaT,,28.55,,
372,,_C_A_S_H €30.00,,,,,NaT,NaT,,NaN,,
373,124 of 4402,nan,,,,,NaT,NaT,,NaN,,
374,From:,nan,,,,,NaT,NaT,,NaN,,
375,,REG DANIELLE 05-01-2024 14:41 000283,,,,REG DANIELLE,2024-01-05,14:41:00,,NaN,,
375,,SHOW TABLES 8,,,,,NaT,NaT,,NaN,,
375,,SUBTOTAL €0.00,,,,,NaT,NaT,0.00,NaN,,
375,,1 SOUP €6.50,,,,,NaT,NaT,6.50,NaN,Lunch,Today_Soup
375,,1 AMERICANO LRG €3.50,,,,,NaT,NaT,3.50,NaN,Drinks,AMERICANO
376,125 of 4402,nan,,,,,NaT,NaT,,NaN,,
377,From:,nan,,,,,NaT,NaT,,NaN,,
378,,EX VAT @ 13.5% €23.04,,,,,NaT,NaT,,NaN,,
378,,VAT @ 13.5% €3.11,,,,,NaT,NaT,,NaN,,
378,,_T_O_T_A_L _ _ _€_2_6_._1_5,,,,,NaT,NaT,,26.15,,
378,,Visa €26.15,,,,,NaT,NaT,,NaN,,
378,,REG DANIELLE 05-01-2024 14:51,,,,,NaT,NaT,,NaN,,
379,126 of 4402,nan,,,,,NaT,NaT,,NaN,,
380,From:,nan,,,,,NaT,NaT,,NaN,,
381,,REG DANIELLE 05-01-2024 15:04 000305,,,,REG DANIELLE,2024-01-05,15:04:00,,NaN,,
381,,REG ANNE 05-01-2024 15:06 000306,,,,REG ANNE,2024-01-05,15:06:00,,NaN,,
381,,SHOW TABLES 7,,,,,NaT,NaT,,NaN,,
381,,SUBTOTAL €0.00,,,,,NaT,NaT,0.00,NaN,,
381,,,,,,,NaT,NaT,,NaN,,
382,127 of 4402,nan,,,,,NaT,NaT,,NaN,,

In [ ]:
df_rua_2022_clean_v2.fillna(' ')

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 6,Unnamed: 7,Unnamed: 8,Prenom,Date,Heure,Transaction,Prix,Total Transaction,paiement_method,ITEM,CATEGORY
0,1 of 10059,,,,,,,,,,,,,
1,From:,,,,,,,,,,,,,
2,02/01/2022 05:30:58,"""F"",""FILE993"",""Z"",""D""",,,,,,,,,,,,
3,02/01/2022 05:30:58,REG 01-01-2022 05:29 000002,,,,REG,01-01-2022,05:29,2.0,,,,,
5,02/01/2022 05:30:58,Z 0000058 E-JOURNAL 0,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76757,,REG SINEAD 31-12-2022 16:38 000368,,,,REG SINEAD,31-12-2022,16:38,368.0,,,,,
76758,,NO SALE,,,,,,,,,,,,
76759,,REG HANNAH 31-12-2022 16:41 000369,,,,REG HANNAH,31-12-2022,16:41,369.0,,,,,
76760,,SHOW TABLES 8,,,,,,,,,,,,
76761,,SUBTOTAL,,,,,,,,,,,,

In [ ]:
# Liste des colonnes à supprimer
cols_to_drop = ['Transaction']

# Supprimer les colonnes spécifiées
df_rua_2024_clean_v1.drop(cols_to_drop, axis=1, inplace=True)

In [ ]:
df_rua_2022_clean_v2.fillna(' ')

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,raw_data,Prenom,Date,Heure,Prix,Total Transaction,paiement_method,ITEM,CATEGORY
0,1 of 10059,,,,,,,,,
1,From:,,,,,,,,,
2,02/01/2022 05:30:58,"""F"",""FILE993"",""Z"",""D""",,,,,,,,
3,02/01/2022 05:30:58,REG 01-01-2022 05:29 000002,REG,01-01-2022,05:29,,,,,
5,02/01/2022 05:30:58,Z 0000058 E-JOURNAL 0,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...
76757,,REG SINEAD 31-12-2022 16:38 000368,REG SINEAD,31-12-2022,16:38,,,,,
76758,,NO SALE,,,,,,,,
76759,,REG HANNAH 31-12-2022 16:41 000369,REG HANNAH,31-12-2022,16:41,,,,,
76760,,SHOW TABLES 8,,,,,,,,
76761,,SUBTOTAL,,,,,,,,

In [ ]:
# Remplir les NaN dans la colonne 'date' en utilisant backfill (bfill)
df_rua_2024_clean_v1['Date'] = df_rua_2024_clean_v1['Date'].bfill()

In [ ]:
# Remplir les NaN dans la colonne 'heure' en utilisant backfill (bfill)
df_rua_2024_clean_v1['Heure'] = df_rua_2024_clean_v1['Heure'].bfill()

In [ ]:
# Remplir les NaN dans la colonne 'prenom' en utilisant backfill (bfill)
df_rua_2024_clean_v1['Prenom'] = df_rua_2024_clean_v1['Prenom'].bfill()

In [ ]:
df_rua_2022_clean_v2.iloc[900:925]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,raw_data,Prenom,Date,Heure,Prix,Total Transaction,paiement_method,ITEM,CATEGORY
950,NaN,SHOW TABLES 7,REG LISA,10-01-2022,12:18,,NaN,,,
951,NaN,SUBTOTAL €27.05,REG LISA,10-01-2022,12:18,27.05,NaN,,,
952,NaN,EX VAT @ 13.5% €2.91,REG LISA,10-01-2022,12:18,2.91,NaN,,,
953,NaN,VAT @ 13.5% €0.39,REG LISA,10-01-2022,12:18,0.39,NaN,,,
954,NaN,EX VAT@9% €2,REG LISA,10-01-2022,12:18,,NaN,,,
955,120 of 10059,NaN,REG LISA,10-01-2022,12:18,,NaN,,,
956,From:,NaN,REG LISA,10-01-2022,12:18,,NaN,,,
957,NaN,_T_O_T_A_L _ _ _€_7_._5_0,REG LISA,10-01-2022,12:18,,7.50,,,
958,NaN,_C_A_S_H €10.00,REG LISA,10-01-2022,12:18,10.00,NaN,Cash,,
959,NaN,_C_H_A_N_G_E €2.50,REG LISA,10-01-2022,12:18,2.50,NaN,,,
960,NaN,REG LISA 10-01-2022 12:18 000092,REG LISA,10-01-2022,12:18,,NaN,,,
961,NaN,SHOW TABLES 50,REG LISA,10-01-2022,13:03,,NaN,,,
962,NaN,1 FR CHICKEN,REG LISA,10-01-2022,13:03,,NaN,,Speicials Free Range Chicken,Speicials
963,121 of 10059,NaN,REG LISA,10-01-2022,13:03,,NaN,,,
964,From:,NaN,REG LISA,10-01-2022,13:03,,NaN,,,
965,NaN,EX VAT@9% €13.72,REG LISA,10-01-2022,13:03,13.72,NaN,,,
966,NaN,VAT@9% €1.23,REG LISA,10-01-2022,13:03,1.23,NaN,,,
967,NaN,_T_O_T_A_L _ _ _€_1_8_._9_5,REG LISA,10-01-2022,13:03,,18.95,,,
968,NaN,_C_A_S_H €100.00,REG LISA,10-01-2022,13:03,100.00,NaN,Cash,,
969,NaN,_C_H_A_N_G_E €81.05,REG LISA,10-01-2022,13:03,81.05,NaN,,,
970,NaN,REG SINEAD 10-01-2022,REG LISA,10-01-2022,13:03,,NaN,,,
971,122 of 10059,NaN,REG LISA,10-01-2022,13:03,,NaN,,,
972,From:,NaN,REG LISA,10-01-2022,13:03,,NaN,,,
973,NaN,REG LISA 10-01-2022 13:03 000112,REG LISA,10-01-2022,13:03,,NaN,,,
974,NaN,SHOW TABLES 8,REG SINEAD,10-01-2022,13:20,,NaN,,,

In [ ]:
# Définir une fonction pour extraire les méthodes de paiement
# Définir une fonction pour extraire les méthodes de paiement
def extract_payment_method(text):
    if isinstance(text, str):
        if 'Visa' in text:
            return 'Visa'
        elif 'VOUCHER REDEEM' in text:
            return 'Voucher'
        elif '_C_A_S_H' in text:
            return 'Cash'
        # Ajoutez d'autres conditions elif au besoin pour d'autres méthodes de paiement
    return ''  # Retourner une chaîne vide si aucune méthode de paiement n'est trouvée

# Appliquer la fonction extract_payment_method à la colonne 'Unnamed: 2' pour créer la colonne 'paiement_method'
df_rua_2024_clean_v1['paiement_method'] = df_rua_2024_clean_v1['raw_data'].apply(extract_payment_method)

In [ ]:
# Renommer la colonne 'Unnamed: 2' en 'raw_data'
df_rua_2024_clean_v1 = df_rua_2024_clean_v1.rename(columns={'Unnamed: 2': 'raw_data'})

In [ ]:
#supprimer les lignes NEW ANTR
df_rua_2022_clean_v2 = df_rua_2022_clean_v2[~df_rua_2022_clean_v2['raw_data'].str.contains('NEW ANTR', na=False)]

In [ ]:
df_rua_2022_clean_v2.to_excel('rua_2022_clean_v2.xlsx')

In [ ]:
df_rua_2022_clean_v2.to_csv('rua_2022_clean_v2.csv')

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(row):
    match = re.search(r'_T_O_T_A_L\s*_[\s\d_]*€([\d._]+)', row)
    if match:
        total_str = match.group(1).replace('_', '').replace('.', '').replace(',', '.')
        return total_str
    else:
        return ''

# Appliquer la fonction et créer une nouvelle colonne 'Total Transaction'
df_rua_2022_clean_v2['Total Transaction'] = df_rua_2022_clean_v2['raw_data'].apply(extract_total_transaction)

TypeError: expected string or bytes-like object

In [ ]:
import pandas as pd

In [ ]:
df_rua_2022_clean_v3 = pd.read_csv('/content/rua_2022_clean_v2.csv')

In [ ]:
df_rua_2022_clean_v3

,Unnamed: 0,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,raw_data,Prenom,Date,Heure,Prix,Total Transaction,paiement_method,ITEM,CATEGORY
0,0,1 of 10059,NaN,REG,01-01-2022,05:29,NaN,NaN,NaN,,
1,1,From:,NaN,REG,01-01-2022,05:29,NaN,NaN,NaN,,
2,2,02/01/2022 05:30:58,"""F"",""FILE993"",""Z"",""D""",REG,01-01-2022,05:29,NaN,NaN,NaN,,
3,3,02/01/2022 05:30:58,REG 01-01-2022 05:29 000002,REG,01-01-2022,05:29,NaN,NaN,NaN,,
4,5,02/01/2022 05:30:58,Z 0000058 E-JOURNAL 0,REG,01-01-2022,05:29,NaN,NaN,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...
74868,76757,NaN,REG SINEAD 31-12-2022 16:38 000368,REG SINEAD,31-12-2022,16:38,NaN,NaN,NaN,,
74869,76758,NaN,NO SALE,REG HANNAH,31-12-2022,16:41,NaN,NaN,NaN,,
74870,76759,NaN,REG HANNAH 31-12-2022 16:41 000369,REG HANNAH,31-12-2022,16:41,NaN,NaN,NaN,,
74871,76760,NaN,SHOW TABLES 8,NaN,NaN,NaN,NaN,NaN,NaN,,
74872,76761,NaN,SUBTOTAL,NaN,NaN,NaN,NaN,NaN,NaN,,

In [ ]:
def assign_category(x):
    if pd.isna(x):
        return ' '
    if 'CHORIZO BFAST' in x:
        return 'Bricfeasta'
    elif 'SOUP' in x:
        return 'Lunch'
    elif 'GOAT CHEESE SALAD' in x:
        return 'Lunch'
    # Ajoutez d'autres conditions elif au besoin
    elif 'WARM CHICKEN SALAD' in x:
        return 'Lunch'
    elif 'TUNA SALAD' in x:
        return 'Lunch'
    elif 'GOAT CHEESE SALAD' in x:
        return 'Lunch'
    elif 'RUA TOASTED' in x:
        return 'Lunch'
    elif 'GOATS TSD' in x:
        return 'Lunch'
    elif 'CHK TSD' in x:
        return 'Sandwich'
    elif 'BACON TSD' in x:
        return 'Sandwich'
    elif 'FALAFEL BUR' in x:
        return 'Sandwich'
    elif 'KELLYS BLAA' in x:
        return 'Sandwich'
    elif 'CR FRY' in x:
        return 'Bricfeasta'
    elif 'VEGAN FRY' in x:
        return 'Bricfeasta'
    elif 'SCRAM BFA' in x:
        return 'Bricfeasta'
    elif 'CHORIZO BFAST' in x:
        return 'Bricfeasta'
    elif 'FR TOAST' in x:
        return 'Bricfeasta'
    elif 'BFAST BLAA' in x:
        return 'Bricfeasta'
    elif 'PORRIDGE' in x:
        return 'Bricfeasta'
    elif 'GRANOLA' in x:
        return 'Bricfeasta'
    elif 'BIRCHER' in x:
        return 'Bricfeasta'
    elif 'LEAF SALAD' in x:
        return 'Sides'
    elif 'PORTION VEG' in x:
        return 'Sides'
    elif 'POT SALAD' in x:
        return 'Sides'
    elif 'PASTA SALAD' in x:
        return 'Sides'
    elif 'PTN HALLOUMI' in x:
        return 'Sides'
    elif 'PTN MUSHROOMS' in x:
        return 'Sides'
    elif 'PTN RASHERS' in x:
        return 'Sides'
    elif 'PTN SAUSAGES' in x:
        return 'Sides'
    elif 'PTN SAUSAGES' in x:
        return 'Sides'
    elif 'PTN TOMATO' in x:
        return 'Sides'
    elif 'AMERICANO LRG' in x:
        return 'Drinks'
    elif 'CAPPUCCINO LRG' in x:
        return 'Drinks'
    elif 'AMERICANO TA ' in x:
        return 'Drinks'
    elif 'MOCHA TA' in x:
        return 'Drniks'
    elif 'TEA' in x:
        return 'Drinks'
    elif 'PIE & ICE/CUST' in x:
        return 'Dessert'
    elif 'FLAT WHITE' in x:
        return 'Drinks'
    elif 'EX SHOT' in x:
        return 'Drinks'
    elif 'HOT CHOC' in x:
        return 'Drinks'
    elif 'LATTE' in x:
        return 'Drinks'
    elif 'PASTA' in x:
        return 'Sides'
    elif 'FISH O DAY' in x:
        return 'Specials'
    elif 'PATE SALAD' in x:
        return 'Salads'
    elif 'PORK DISH' in x:
        return 'Specials'
    elif 'FRESH OJ' in x:
        return 'Drinks'
    elif 'PTN PUDDING' in x:
        return 'Sides'
    elif 'CRUMBLE' in x:
        return 'Cakes'
    elif 'ORANGE/LEMON CAKE' in x:
        return 'Cakes'
    elif 'KOMBUCHA' in x:
        return 'Drinks'
    elif 'ROULADE' in x:
        return 'Cakes'
    elif 'VEG SPECIAL' in x:
        return 'Specials'
    elif 'BROWNIE & ICE CREAM' in x:
        return 'Specials'
    elif '1SHOT CAP/LA' in x:
        return 'Drinks'
    elif 'PTN SAUTEED' in x:
        return 'Sides'
    elif 'RAYU' in x:
        return 'Retails'
    elif 'CAPUCINO TA' in x:
        return 'Drinks'
    elif 'AMERICANO REG' in x:
        return 'Drinks'
    elif 'LARGE BROWM' in x:
        return 'Sides'
    elif 'BREAD SLICE' in x:
        return 'Sides'
    elif 'GAN BHO' in x:
        return 'Cakes'
    elif 'BROWNIES' in x:
        return 'Cakes'
    elif 'APPLE J' in x:
        return 'Drinks'
    elif 'FISHCAKES' in x:
        return 'Lunch'
    elif 'POACHED EGG' in x:
        return 'Lunch'
    elif 'CHICKEN DINNER' in x:
        return 'Specials'
    elif 'FR CHICKEN' in x:
        return 'Speicials'
    elif 'APPLE' in  x:
        return 'Topings'
    elif 'FRUIT COMPOTE' in x:
        return 'Topings'
    elif 'BEEF STEW' in x:
        return 'Specials'
    elif 'LEMONADE' in x:
        return 'Drinks'
    elif 'DESSERT SPEC' in x:
        return 'Cakes'
    elif 'PTN TOAST' in x:
        return 'Sides'
    elif 'SCONES' in x:
        return 'Bricfeasta'
    elif 'CROISSANT' in x:
        return 'Bricfeasta'
    elif 'APPLE JUICE SM' in x:
        return 'Drinks'
    elif 'HONEY ROAST BACON' in x:
        return 'Specials'
    elif 'SPECIAL' in x:
        return 'Specials'
    elif 'LUSCOMBE' in x:
        return 'Drinks'
    elif 'BFAST OPEN' in x:
        return 'Bricfeasta'
    elif 'SCONE CAFE' in x:
        return 'Bricfeasta'
    elif 'LAMB DISH' in x:
        return 'Specials'
    elif 'STRAW SPONGE' in x:
        return 'Cakes'
    elif 'PIE & CREAM' in x:
        return 'Cakes'
    elif 'KORMA' in x:
        return 'Specials'
    elif 'PISTACHIO CAKE' in x:
        return 'Cakes'
    elif 'ORG COLA' in x:
        return 'Drinks'
    elif 'PTN BB' in x:
        return 'Sides'
    elif 'PIE' in x:
        return 'Cakes'
    elif 'ACHILL SALT' in x:
        return 'Retails'
    elif 'HOT SAMBO SOLO' in x:
        return 'Lunch'
    elif 'LASAGNE' in x:
        return 'Specials'
    elif 'GLS HOUSE RED' in x:
        return 'Wine'
    elif 'BROWNIE PLAIN' in x:
        return 'Cakes'
    elif 'OPEN FISH' in x:
        return 'Specials'
    elif 'BLT' in x:
        return 'Sandwich'
    elif 'CHICKEN BLAA' in x:
        return 'Sandwich'
    elif 'RUA TST SOLO' in x:
        return 'Sandwich'
    elif 'NUT SHED' in x:
        return 'Cakes'
    elif 'TURKEY' in x:
        return 'Specials'
    elif 'TURKEY TOASTIE' in x:
        return 'Sandwich'

    else:
        return ' '

df_rua_2024_clean_v1.loc[:,'CATEGORY'] = df_rua_2024_clean_v1['raw_data'].apply(assign_category)

In [ ]:
def assign_item(i):
    if pd.isna(i):
        return (' ')
    if 'CHORIZO BFAST' in i:
        return 'Bricfeasta'
    elif 'SOUP' in i:
        return 'Today_Soup'
    elif 'GOAT CHEESE SALAD' in i:
        return 'Warm Goat Cheese Salad'
    # Ajoutez d'autres conditions elif au besoin
    elif 'WARM CHICKEN SALAD' in i:
        return 'Warm Chicken Salad	'
    elif 'TUNA SALAD' in i:
        return 'Ortiz Tuna & Free Range Egg	'
    elif 'GOAT CHEESE SALAD' in i:
        return 'Warm Goats Cheese'
    elif 'RUA TOASTED' in i:
        return 'Lunch'
    elif 'GOATS TSD' in i:
        return 'Goats Cheese, Beetroot & Fennel Jam'
    elif 'CHK TSD' in i:
        return 'Roast Chicken, Arrabbiata Sauce'
    elif 'BACON TSD' in i:
        return 'Andarl Farm Bacon & Cheddar Rarebit'
    elif 'FALAFEL BUR' in i:
        return 'Chickpea Falafel Burger	'
    elif 'KELLYS BLAA' in i:
        return 'Kellys Sausages'
    elif 'CR FRY' in i:
        return 'Cafe Rua Fry'
    elif 'VEGAN FRY' in i:
        return 'Vegan Fry	'
    elif 'SCRAM BFA' in i:
        return 'Free Range Scrambled Eggs	'
    elif 'CHORIZO BFAST' in i:
        return 'Chorizo Hash with Fried Egg	'
    elif 'FR TOAST' in i:
        return 'French Toast	'
    elif 'BFAST BLAA' in i:
        return 'Breakfast Blaa	'
    elif 'PORRIDGE' in i:
        return 'Porridge'
    elif 'GRANOLA' in i:
        return 'Rua Granola'
    elif 'BIRCHER' in i:
        return 'Bircher'
    elif 'LEAF SALAD' in i:
        return 'Leaf Salad'
    elif 'PORTION VEG' in i:
        return 'Carrot & Coriander Slow	'
    elif 'POT SALAD' in i:
        return 'Potato & Scallion Salad	'
    elif 'PASTA SALAD' in i:
        return 'Pappardelle Pasta Salad	'
    elif 'PTN HALLOUMI' in i:
        return 'Halloumi'
    elif 'PTN MUSHROOMS' in i:
        return 'Flatfield Mushrooms	'
    elif 'PTN RASHERS' in i:
        return 'Kellys Dry Cured Rashers'
    elif 'PTN SAUSAGES' in i:
        return 'Kellys Sausages'
    elif 'PTN SAUSAGES' in i:
        return 'Sides'
    elif 'PTN TOMATO' in i:
        return 'Sides'
    elif 'AMERICANO LRG' in i:
        return 'AMERICANO'
    elif 'CAPPUCCINO LRG' in i:
        return 'CAPUCINO'
    elif 'AMERICANO TA ' in i:
        return 'Americano TAKE AWAY'
    elif 'MOCHA TA' in i:
        return 'Mocha TAKE AWAY'
    elif 'TEA' in i:
        return 'Pot of Barrys Tea (pot for 1)'
    elif 'PIE & ICE/CUST' in i:
        return 'Apple Pie and Custard'
    elif 'FLAT WHITE' in i:
        return 'Flat White'
    elif 'EX SHOT' in i:
        return 'Extra Shot'
    elif 'HOT CHOC' in i:
        return 'Hot Chocolate'
    elif 'LATTE' in i:
        return 'Latte'
    elif 'PASTA' in i:
        return 'Pasta Salad'
    elif 'FISH O DAY' in i:
        return 'Fish Of the Day'
    elif 'PATE SALAD' in i:
        return 'RUA Chicken Liver Pate Salad'
    elif 'PORK DISH' in i:
        return 'Pork Specials of the Day'
    elif 'FRESH OJ' in i:
        return 'Fresh Orange Juice'
    elif 'PTN PUDDING' in i:
        return 'Kellys Pudding'
    elif 'CRUMBLE' in i:
        return 'Crumble'
    elif 'ORANGE/LEMON CAKE' in i:
        return 'Orange Cake Slice'
    elif 'KOMBUCHA' in i:
        return 'Kombucha'
    elif 'ROULADE' in i:
        return 'Roulade Slice'
    elif 'VEG SPECIAL' in i:
        return 'Vegetarian of the Day'
    elif 'BROWNIE & ICE CREAM' in i:
        return 'Brownie and Ice Cream'
    elif '1SHOT CAP/LA' in i:
        return 'Capucino One Shot'
    elif 'PTN SAUTEED' in i:
        return 'Portion of Sauteed Potatoes'
    elif 'RAYU' in i:
        return 'Rayu'
    elif 'CAPUCINO TA' in i:
        return 'Capucino Take Away'
    elif 'AMERICANO REG' in i:
        return 'Americano Small'
    elif 'LARGE BROWM' in i:
        return 'Large Bread'
    elif 'BREAD SLICE' in i:
        return 'Bread Slice'
    elif 'GAN BHO' in i:
        return 'Gan Bho'
    elif 'BROWNIES' in i:
        return 'Brownies'
    elif 'APPLE J' in i:
        return 'Apple  Juice'
    elif 'FISHCAKES' in i:
        return 'FishCakes'
    elif 'POACHED EGG' in i:
        return 'Poached Egg'
    elif 'CHICKEN DINNER' in i:
        return 'Specials Chicken of the Day'
    elif 'FR CHICKEN' in i:
        return 'Speicials Free Range Chicken'
    elif 'APPLE' in  i:
        return 'Apple Topings'
    elif 'FRUIT COMPOTE' in i:
        return 'Fruit Topings'
    elif 'BEEF STEW' in i:
        return 'Specials Beef Of the Day'
    elif 'LEMONADE' in i:
        return 'Lemonade'
    elif 'DESSERT SPEC' in i:
        return 'Cakes of the day'
    elif 'PTN TOAST' in i:
        return 'Portion of toast'
    elif 'SCONES' in i:
        return 'Scones'
    elif 'CROISSANT' in i:
        return 'Croissant'
    elif 'APPLE JUICE SM' in i:
        return 'Small Apple Juice'
    elif 'HONEY ROAST BACON' in i:
        return 'Special Bacon of the Day'
    elif 'SPECIAL' in i:
        return 'Specials'
    elif 'LUSCOMBE' in i:
        return 'Luscombe Beer'
    elif 'BFAST OPEN' in i:
        return 'Breakfast of the day'
    elif 'SCONE CAFE' in i:
        return 'Scone and Coffee'
    elif 'LAMB DISH' in i:
        return 'Specials Lamb of the day'
    elif 'STRAW SPONGE' in i:
        return 'Strawberry Cake'
    elif 'PIE & CREAM' in i:
        return 'Apple Pie and Cream'
    elif 'KORMA' in i:
        return 'Chicken Curry'
    elif 'PISTACHIO CAKE' in i:
        return 'Pistachio Ckes'
    elif 'ORG COLA' in i:
        return 'Organic cola'
    elif 'PTN BB' in i:
        return 'Bread Portion'
    elif 'PIE' in i:
        return 'Apple Pie'
    elif 'ACHILL SALT' in i:
        return 'Achill Island Sea Salt'
    elif 'HOT SAMBO SOLO' in i:
        return 'Sandwich of the Day'
    elif 'LASAGNE' in i:
        return 'Lasagna'
    elif 'GLS HOUSE RED' in i:
        return 'Il Casolare'
    elif 'BROWNIE PLAIN' in i:
        return 'Brownie'
    elif 'OPEN FISH' in i:
        return 'Fish of the Day'
    elif 'BLT' in i:
        return 'Bacon Lettuce Tomato'
    elif 'CHICKEN BLAA' in i:
        return 'Chicken BLAA'
    elif 'RUA TST SOLO' in i:
        return 'Sandwich Hot Solo'
    elif 'NUT SHED' in i:
        return 'Peanut Balls'
    elif 'TURKEY' in i:
        return 'Turkey Plate of the Day'
    elif 'TURKEY TOASTIE' in i:
        return 'Turkey Sandwich'


    else:
        return ' '

df_rua_2024_clean_v1.loc[:,'ITEM'] = df_rua_2024_clean_v1['raw_data'].apply(assign_item)

In [ ]:
df_rua_2024_clean_v1['Date'] = pd.to_datetime(df_rua_2024_clean_v1['Date'])
df_rua_2024_clean_v1['Heure'] = pd.to_datetime(df_rua_2024_clean_v1['Heure'], format='%H:%M:%S').dt.time

ValueError: time data "13-01-2024" doesn't match format "%m-%d-%Y", at position 13. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
# Convertir la colonne 'Date' en spécifiant le format
df_rua_2024_clean_v1['Date'] = pd.to_datetime(df_rua_2024_clean_v1['Date'], format='%d-%m-%Y')

# Convertir la colonne 'Heure' en spécifiant le format
df_rua_2024_clean_v1['Heure'] = pd.to_datetime(df_rua_2024_clean_v1['Heure'], format='%H:%M').dt.time

In [ ]:
#supprimer les lignes NO SALE
df_rua_2024_clean_v1 = df_rua_2024_clean_v1[~df_rua_2024_clean_v1['raw_data'].str.contains('NO SALE', na=False)]

In [ ]:
df_rua_2022_clean_v3.iloc[50000:50025]

,Unnamed: 0,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,raw_data,Prenom,Date,Heure,Prix,Total Transaction,paiement_method,ITEM,CATEGORY
50130,51360,NaN,NaN,REG MEABH,2022-08-31,17:05:00,NaN,NaN,NaN,,
50131,51361,6697 of 10059,NaN,REG MEABH,2022-08-31,17:05:00,NaN,NaN,NaN,,
50132,51362,From:,NaN,REG MEABH,2022-08-31,17:05:00,NaN,NaN,NaN,,
50133,51363,NaN,SHOW TABLES 6,REG MEABH,2022-08-31,17:05:00,NaN,NaN,NaN,,
50134,51364,NaN,REG MEABH 31-08-2022 17:05 000350,REG MEABH,2022-08-31,17:05:00,NaN,NaN,NaN,,
50135,51365,NaN,SHOW TABLES 7,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50136,51366,NaN,SHOW TABLES,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50137,51367,02/09/2022 05:30:55,"""F"",""FILE993"",""Z"",""D""",REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50138,51368,02/09/2022 05:30:55,REG 01-09-2022 05:28 000002,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50139,51370,02/09/2022 05:30:55,Z 0000058 E-JOURNAL 0,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50140,51371,02/09/2022 05:30:55,REG 01-09-2022 05:28 000003,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50141,51373,02/09/2022 05:30:55,NaN,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50142,51374,6698 of 10059,NaN,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50143,51375,From:,NaN,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50144,51377,NaN,REG 01-09-2022 05:28 000004,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50145,51380,NaN,REG 01-09-2022 05:28 000005,REG,2022-09-01,05:28:00,NaN,NaN,NaN,,
50146,51382,NaN,Rec,REG SINEAD,2022-09-01,09:15:00,NaN,NaN,NaN,,
50147,51383,6699 of 10059,NaN,REG SINEAD,2022-09-01,09:15:00,NaN,NaN,NaN,,
50148,51384,From:,NaN,REG SINEAD,2022-09-01,09:15:00,NaN,NaN,NaN,,
50149,51385,NaN,REG SINEAD 01-09-2022 09:15 000020,REG SINEAD,2022-09-01,09:15:00,NaN,NaN,NaN,,
50150,51386,NaN,SHOW TABLES 8,REG SINEAD,2022-09-01,09:27:00,NaN,NaN,NaN,,
50151,51387,NaN,1 TEA €2.60,REG SINEAD,2022-09-01,09:27:00,2.60,NaN,NaN,Pot of Barrys Tea (pot for 1),Drinks
50152,51388,NaN,1 AMERICANO LRG €3.50,REG SINEAD,2022-09-01,09:27:00,3.50,NaN,NaN,AMERICANO,Drinks
50153,51389,NaN,1 SCONE CAFE €2.95,REG SINEAD,2022-09-01,09:27:00,2.95,NaN,NaN,Scone and Coffee,Bricfeasta
50154,51390,NaN,NaN,REG SINEAD,2022-09-01,09:27:00,NaN,NaN,NaN,,

In [ ]:
# Filtrer les lignes qui contiennent 'AMERICANO' dans la colonne 'raw_data'
filtered_df = df_rua_2022_clean_v3[df_rua_2022_clean_v3['raw_data'].str.contains('AMERICANO', case=False)]

print(filtered_df)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
# Remplacer les valeurs manquantes par une chaîne vide
df_rua_2022_clean_v3['raw_data'] = df_rua_2022_clean_v3['raw_data'].fillna('')

# Filtrer les lignes qui contiennent 'AMERICANO' dans la colonne 'raw_data'
filtered_df = df_rua_2022_clean_v3[df_rua_2022_clean_v3['raw_data'].str.contains('AMERICANO', case=False)]

print(filtered_df)

       Unnamed: 0 CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n  \
40             63                                     NaN
41             64                                     NaN
260           288                                     NaN
261           289                                     NaN
262           290                                     NaN
...           ...                                     ...
74661       76548                                     NaN
74662       76549                                     NaN
74747       76634                                     NaN
74748       76635                                     NaN
74851       76739                                     NaN

                                raw_data         Prenom       Date     Heure  \
40     1  AMERICANO LRG            €3.20    REG  SINEAD 2022-01-05  09:38:00
41     1  AMERICANO LRG            €3.20    REG  SINEAD 2022-01-05  09:38:00
260    1  AMERICANO LRG            €3.20      REG  LISA 2022-01-06  11:23:00
261    1  AMERICANO LRG            €3.20      REG  LISA 2022-01-06  11:23:00
262    1  AMERICANO LRG            €3.20      REG  LISA 2022-01-06  11:23:00
...                                  ...            ...        ...       ...
74661  1  AMERICANO LRG            €3.50  REG  DANIELLE 2022-12-31  10:51:00
74662  1  AMERICANO LRG            €3.50  REG  DANIELLE 2022-12-31  10:51:00
74747  1  AMERICANO LRG            €3.50    REG  SINEAD 2022-12-31  13:06:00
74748  1  AMERICANO LRG            €3.50    REG  SINEAD 2022-12-31  13:06:00
74851  1  AMERICANO LRG            €3.50      REG  LISA 2022-12-31  15:58:00

       Prix  Total Transaction paiement_method       ITEM CATEGORY
40      3.2                NaN             NaN  AMERICANO   Drinks
41      3.2                NaN             NaN  AMERICANO   Drinks
260     3.2                NaN             NaN  AMERICANO   Drinks
261     3.2                NaN             NaN  AMERICANO   Drinks
262     3.2                NaN             NaN  AMERICANO   Drinks
...     ...                ...             ...        ...      ...
74661   3.5                NaN             NaN  AMERICANO   Drinks
74662   3.5                NaN             NaN  AMERICANO   Drinks
74747   3.5                NaN             NaN  AMERICANO   Drinks
74748   3.5                NaN             NaN  AMERICANO   Drinks
74851   3.5                NaN             NaN  AMERICANO   Drinks

[1502 rows x 11 columns]

<ipython-input-21-436721e5b329>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rua_2022_clean_v3['raw_data'] = df_rua_2022_clean_v3['raw_data'].fillna('')

In [ ]:
df_rua_2022_clean_v3.columns

Index(['Unnamed: 0', 'CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n', 'raw_data',
       'Prenom', 'Date', 'Heure', 'Prix', 'Total Transaction',
       'paiement_method', 'ITEM', 'CATEGORY'],
      dtype='object')

In [ ]:
# Remplir la colonne 'prix' avec 13.95 lorsque 'KORMA' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('KORMA', case=False, na=False), 'Prix'] = 13.95

In [ ]:
# Remplir la colonne 'prix' avec 13.95 lorsque 'LASAGNA' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('LASAGNA', case=False, na=False), 'Prix'] = 13.95

In [ ]:
# Remplir la colonne 'prix' avec 5.7 lorsque 'STRAW SPONGE' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('STRAW SPONGE', case=False, na=False), 'Prix'] = 5.7

In [ ]:
# Remplir la colonne 'prix' avec 5.5 lorsque 'PIE AND CREAM' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('PIE & CREAM', case=False, na=False), 'Prix'] = 5.5

In [ ]:
# Remplir la colonne 'prix' avec 13.95 lorsque 'TURKEY' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('TURKEY', case=False, na=False), 'Prix'] = 13.95

In [ ]:
# Remplir la colonne 'prix' avec 5.5 lorsque 'PISTACHIO CAKE' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('PISTACHIO CAKE', case=False, na=False), 'Prix'] = 5.5

In [ ]:
# Remplir la colonne 'prix' avec 2.6 lorsque 'ORG COLA' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('ORG COLA', case=False, na=False), 'Prix'] = 2.6

In [ ]:
# Remplir la colonne 'prix' avec 2.6 lorsque 'PTN BB' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('PTN BB', case=False, na=False), 'Prix'] = 2.6

In [ ]:
# Remplir la colonne 'prix' avec 5.2 lorsque 'PIE' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('PIE', case=False, na=False), 'Prix'] = 5.2

In [ ]:
# Remplir la colonne 'prix' avec 4.5 lorsque 'ACHILL SALT' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('ACHILL SALT', case=False, na=False), 'Prix'] = 4.5

In [ ]:
# Remplir la colonne 'prix' avec 10.95 lorsque 'TURKEY TOASTIE' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('TURKEY TOASTIE', case=False, na=False), 'Prix'] = 10.95

In [ ]:
# Remplir la colonne 'prix' avec 2.5 lorsque 'NUT SHED' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('NUT SHED', case=False, na=False), 'Prix'] = 2.5

In [ ]:
# Remplir la colonne 'prix' avec 13.95 lorsque 'OPEN FISH' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('OPEN FISH', case=False, na=False), 'Prix'] = 13.95

In [ ]:
# Remplir la colonne 'prix' avec 2.6 lorsque 'TEA' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Pot of Barrys Tea', case=False, na=False), 'Prix'] = 2.6

In [ ]:
# Remplir la colonne 'prix' avec 3.5 lorsque 'Latte' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Latte', case=False, na=False), 'Prix'] = 3.5

In [ ]:
# Remplir la colonne 'prix' avec 9.95 lorsque 'Free range' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Free Range Scrambled Eggs', case=False, na=False), 'Prix'] = 9.95

In [ ]:
# Remplir la colonne 'prix' avec 1.8 lorsque 'Scones' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Scones', case=False, na=False), 'Prix'] = 1.8

In [ ]:
# Remplir la colonne 'prix' avec 1.8 lorsque 'Croissant' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Croissant', case=False, na=False), 'Prix'] = 2.1

In [ ]:
# Remplir la colonne 'prix' avec 13.5 lorsque 'Cafe rua fry' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Cafe Rua Fry', case=False, na=False), 'Prix'] = 13.5

In [ ]:
# Remplir la colonne 'prix' avec 1.8 lorsque 'Croissant' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Flat White', case=False, na=False), 'Prix'] = 3.6

In [ ]:
# Remplir la colonne 'prix' avec 1.8 lorsque 'Croissant' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Today_soup', case=False, na=False), 'Prix'] = 6.5

In [ ]:
# Remplir la colonne 'prix' avec 1.8 lorsque 'Croissant' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('AMERICANO', case=False, na=False), 'Prix'] = 3.5

In [ ]:
# Remplir la colonne 'prix' avec 1.8 lorsque 'Croissant' apparaît dans 'ITEM'
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Roast Chicken', case=False, na=False), 'Prix'] = 11.5

In [ ]:
df_rua_2024_clean_v1.to_excel('rua_2024_clean_v2.xlsx')

In [ ]:
df_rua_2024_clean_v1.to_csv('rua_2024_clean_v2.csv')

In [ ]:
df_rua_2024_clean_v1.loc[df_rua_2024_clean_v1['ITEM'].str.contains('Pot of ', case=False, na=False), 'Prix'] = 2.6

In [ ]:
# Remplir les NaN dans la colonne 'date' en utilisant backfill (bfill)
df_rua_2024_clean_v1['Date'] = df_rua_2024_clean_v1['Date'].bfill()

In [ ]:
# Remplir les NaN dans la colonne 'heure' en utilisant backfill (bfill)
df_rua_2024_clean_v1['Heure'] = df_rua_2024_clean_v1['Heure'].bfill()

In [ ]:
# Remplir les NaN dans la colonne 'date' en utilisant backfill (bfill)
df_rua_2024_clean_v1['Prenom'] = df_rua_2024_clean_v1['Prenom'].bfill()

In [ ]:
df_rua_2024_clean_v1.iloc[19000:19025]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,raw_data,Unnamed: 6,Unnamed: 7,Unnamed: 8,Prenom,Date,Heure,Prix,Total Transaction,CATEGORY,ITEM,paiement_method
7840,,REG HOLLY 08-04-2024 10:01 000037,,,,REG HOLLY,2024-04-08,10:01:00,,NaN,,,
7840,,EX VAT @ 13.5% €6.17,,,,,2024-04-08,11:17:00,,NaN,,,
7840,,VAT @ 13.5% €0.83,,,,,2024-04-08,11:17:00,,NaN,,,
7840,,_T_O_T_A_L _ _ _€_7_._0_0,,,,,2024-04-08,11:17:00,,7.0,,,
7840,,Visa €7.00,,,,,2024-04-08,11:17:00,,NaN,,,Visa
7840,,NEW,,,,,2024-04-08,11:17:00,,NaN,,,
7841,2584 of 4402,nan,,,,,2024-04-08,11:17:00,,NaN,,,
7842,From:,nan,,,,,2024-04-08,11:17:00,,NaN,,,
7843,,1 GRANOLA (n) €5.50,,,,,2024-04-08,11:17:00,5.50,NaN,Bricfeasta,Rua Granola,
7843,,1 TEA €2.60,,,,,2024-04-08,11:17:00,2.6,NaN,Drinks,Pot of Barrys Tea (pot for 1),
7843,,1 TEA €2.60,,,,,2024-04-08,11:17:00,2.6,NaN,Drinks,Pot of Barrys Tea (pot for 1),
7843,,REG HOLLY 08-04-2024 10:19,,,,,2024-04-08,11:17:00,,NaN,,,
7844,2585 of 4402,nan,,,,,2024-04-08,11:17:00,,NaN,,,
7845,From:,nan,,,,,2024-04-08,11:17:00,,NaN,,,
7846,,1 CAPPUCCINO LRG €3.80,,,,,2024-04-08,11:17:00,3.80,NaN,Drinks,CAPUCINO,
7846,,1 FRESH OJ €3.50,,,,,2024-04-08,11:17:00,3.50,NaN,Drinks,Fresh Orange Juice,
7846,,1 BFAST BLAA SPUDS €9.95,,,,,2024-04-08,11:17:00,9.95,NaN,Bricfeasta,Breakfast Blaa\t,
7846,,1 BFAST BLAA SPUDS €9.95,,,,,2024-04-08,11:17:00,9.95,NaN,Bricfeasta,Breakfast Blaa\t,
7846,,NEW ANTR,,,,,2024-04-08,11:17:00,,NaN,,,
7847,2586 of 4402,nan,,,,,2024-04-08,11:17:00,,NaN,,,
7848,From:,nan,,,,,2024-04-08,11:17:00,,NaN,,,
7849,,1 SCONES €1.80,,,,,2024-04-08,11:17:00,1.8,NaN,Bricfeasta,Scones,
7849,,1 SCONES €1.80,,,,,2024-04-08,11:17:00,1.8,NaN,Bricfeasta,Scones,
7849,,1 BROWNIES €2.95,,,,,2024-04-08,11:17:00,2.95,NaN,Cakes,Brownies,
7849,,EX VAT @ 13.5% €7.36,,,,,2024-04-08,11:17:00,,NaN,,,