<a href="https://colab.research.google.com/github/charlesdaigre/project_lewagon_rua/blob/version-3/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_rua = pd.read_csv('/content/rua_clean_v1.csv')

In [3]:
df_rua

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1 of 10346,NaN,NaN,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
1,1 of 10346,NaN,NaN,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
2,1 of 10346,NaN,NEW ANTRIM,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
3,1 of 10346,NaN,"""F"",""FILE993"",""Z"",""D""",NaN,NaN,Journal log list,NaN,Date:,04/06/2024
4,1 of 10346,NaN,NEW ANTRIM,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
...,...,...,...,...,...,...,...,...,...
99858,1 of 10346,NaN,NEW ANTRIM,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
99859,1 of 10346,NaN,REG 31-12-2023 05:24 000003,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
99860,1 of 10346,NaN,Inline,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
99861,1 of 10346,NaN,Receive,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
99862,1 of 10346,NaN,,NaN,NaN,Journal log list,NaN,Date:,04/06/2024

In [4]:
df_rua.iloc[275:300]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 9,Unnamed: 10,Unnamed: 11
275,1 of 10346,NaN,1 PTN TOAST €1.75,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
276,1 of 10346,NaN,1 HOT CHOC €3.70,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
277,1 of 10346,NaN,SUBTOTAL €36.30,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
278,1 of 10346,NaN,1 APPLE JUICE SM €2.95,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
279,1 of 10346,NaN,1 LATTE €3.80,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
280,1 of 10346,NaN,9 No,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
281,1 of 10346,NaN,EX VAT @ 13.5% €10.67,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
282,1 of 10346,NaN,NaN,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
283,1 of 10346,NaN,NaN,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
284,1 of 10346,NaN,NEW ANTRIM,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
285,1 of 10346,NaN,REG SINEAD 03-01-2023 15:05 000278,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
286,1 of 10346,NaN,NEW ANTRIM,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
287,1 of 10346,NaN,REG SINEAD 03-01-2023 15:05 000279,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
288,1 of 10346,NaN,SHOW TABLES 2,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
289,1 of 10346,NaN,1 CHK TSD €11.50,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
290,1 of 10346,NaN,SAUTEED,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
291,1 of 10346,NaN,NaN,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
292,1 of 10346,NaN,NaN,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
293,1 of 10346,NaN,NaN,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
294,1 of 10346,NaN,_C_H_A_N_G_E €5.50,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
295,1 of 10346,NaN,NEW ANTRIM,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
296,1 of 10346,NaN,REG SINEAD 03-01-2023 15:14 000289,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
297,1 of 10346,NaN,NEW ANTRIM,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
298,1 of 10346,NaN,REG SINEAD 03-01-2023 15:14 000290,NaN,NaN,Journal log list,NaN,Date:,04/06/2024
299,1 of 10346,NaN,SHOW TABLES 1,NaN,NaN,Journal log list,NaN,Date:,04/06/2024

In [5]:
df_rua.fillna('', inplace=True)
df_rua

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1 of 10346,,,,,Journal log list,,Date:,04/06/2024
1,1 of 10346,,,,,Journal log list,,Date:,04/06/2024
2,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024
3,1 of 10346,,"""F"",""FILE993"",""Z"",""D""",,,Journal log list,,Date:,04/06/2024
4,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024
...,...,...,...,...,...,...,...,...,...
99858,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024
99859,1 of 10346,,REG 31-12-2023 05:24 000003,,,Journal log list,,Date:,04/06/2024
99860,1 of 10346,,Inline,,,Journal log list,,Date:,04/06/2024
99861,1 of 10346,,Receive,,,Journal log list,,Date:,04/06/2024
99862,1 of 10346,,,,,Journal log list,,Date:,04/06/2024

In [6]:
df_rua.iloc[275:300]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 9,Unnamed: 10,Unnamed: 11
275,1 of 10346,,1 PTN TOAST €1.75,,,Journal log list,,Date:,04/06/2024
276,1 of 10346,,1 HOT CHOC €3.70,,,Journal log list,,Date:,04/06/2024
277,1 of 10346,,SUBTOTAL €36.30,,,Journal log list,,Date:,04/06/2024
278,1 of 10346,,1 APPLE JUICE SM €2.95,,,Journal log list,,Date:,04/06/2024
279,1 of 10346,,1 LATTE €3.80,,,Journal log list,,Date:,04/06/2024
280,1 of 10346,,9 No,,,Journal log list,,Date:,04/06/2024
281,1 of 10346,,EX VAT @ 13.5% €10.67,,,Journal log list,,Date:,04/06/2024
282,1 of 10346,,,,,Journal log list,,Date:,04/06/2024
283,1 of 10346,,,,,Journal log list,,Date:,04/06/2024
284,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024
285,1 of 10346,,REG SINEAD 03-01-2023 15:05 000278,,,Journal log list,,Date:,04/06/2024
286,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024
287,1 of 10346,,REG SINEAD 03-01-2023 15:05 000279,,,Journal log list,,Date:,04/06/2024
288,1 of 10346,,SHOW TABLES 2,,,Journal log list,,Date:,04/06/2024
289,1 of 10346,,1 CHK TSD €11.50,,,Journal log list,,Date:,04/06/2024
290,1 of 10346,,SAUTEED,,,Journal log list,,Date:,04/06/2024
291,1 of 10346,,,,,Journal log list,,Date:,04/06/2024
292,1 of 10346,,,,,Journal log list,,Date:,04/06/2024
293,1 of 10346,,,,,Journal log list,,Date:,04/06/2024
294,1 of 10346,,_C_H_A_N_G_E €5.50,,,Journal log list,,Date:,04/06/2024
295,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024
296,1 of 10346,,REG SINEAD 03-01-2023 15:14 000289,,,Journal log list,,Date:,04/06/2024
297,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024
298,1 of 10346,,REG SINEAD 03-01-2023 15:14 000290,,,Journal log list,,Date:,04/06/2024
299,1 of 10346,,SHOW TABLES 1,,,Journal log list,,Date:,04/06/2024

In [7]:
df_rua[['Type', 'Name', 'Date', 'Time', 'Number']] = df_rua['Unnamed: 2'].str.split(' ', 4, expand=True)

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [8]:
df_rua.columns

Index(['CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [9]:
# Fonction pour diviser et créer de nouvelles colonnes
def split_information(row):
    parts = row.split(' ')
    prenom = ' '.join(parts[:2])
    date = parts[2]
    heure = parts[3]
    transaction_num = parts[4]
    return pd.Series([prenom, date, heure, transaction_num])

# Appliquer la fonction et créer de nouvelles colonnes
df_rua[['Prenom', 'Date', 'Heure', 'Transaction']] = df_rua['Unnamed: 2'].apply(split_information)

# Afficher le DataFrame résultant
print(df_rua)

IndexError: list index out of range

In [ ]:
def split_information(row):
    parts = row.split(' ')
    if len(parts) >= 5:  # Vérifier s'il y a suffisamment d'éléments dans la liste
        prenom = ' '.join(parts[:2])
        date = parts[2]
        heure = parts[3]
        transaction_num = parts[4]
        return pd.Series([prenom, date, heure, transaction_num])
    else:
        return pd.Series(['', '', '', ''])  # Retourner des valeurs vides si la ligne est incorrecte

In [ ]:
df_rua

In [ ]:
df_rua.iloc[275:300]

In [10]:
import pandas as pd
import re  # Ajouter cette ligne pour importer le module d'expressions régulières

# Fonction pour extraire les informations
def extract_information(row):
    match = re.match(r'([A-Z\s]+) (\d{2}-\d{2}-\d{4}|\d{4}-\d{2}-\d{2}) (\d{2}:\d{2}) (\d+)', row)
    if match:
        prenom = match.group(1).strip()
        date = match.group(2)
        heure = match.group(3)
        transaction_num = match.group(4)
        return pd.Series([prenom, date, heure, transaction_num])
    else:
        return pd.Series(['', '', '', ''])  # Retourner des valeurs vides si le format ne correspond pas

# Appliquer la fonction et créer de nouvelles colonnes
df_rua[['Prenom', 'Date', 'Heure', 'Transaction']] = df_rua['Unnamed: 2'].apply(extract_information)

# Afficher le DataFrame résultant
(df_rua)

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 9,Unnamed: 10,Unnamed: 11,Prenom,Date,Heure,Transaction
0,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,
1,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,
2,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024,,,,
3,1 of 10346,,"""F"",""FILE993"",""Z"",""D""",,,Journal log list,,Date:,04/06/2024,,,,
4,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99858,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024,,,,
99859,1 of 10346,,REG 31-12-2023 05:24 000003,,,Journal log list,,Date:,04/06/2024,,,,
99860,1 of 10346,,Inline,,,Journal log list,,Date:,04/06/2024,,,,
99861,1 of 10346,,Receive,,,Journal log list,,Date:,04/06/2024,,,,
99862,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,

In [11]:
df_rua.iloc[275:300]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 9,Unnamed: 10,Unnamed: 11,Prenom,Date,Heure,Transaction
275,1 of 10346,,1 PTN TOAST €1.75,,,Journal log list,,Date:,04/06/2024,,,,
276,1 of 10346,,1 HOT CHOC €3.70,,,Journal log list,,Date:,04/06/2024,,,,
277,1 of 10346,,SUBTOTAL €36.30,,,Journal log list,,Date:,04/06/2024,,,,
278,1 of 10346,,1 APPLE JUICE SM €2.95,,,Journal log list,,Date:,04/06/2024,,,,
279,1 of 10346,,1 LATTE €3.80,,,Journal log list,,Date:,04/06/2024,,,,
280,1 of 10346,,9 No,,,Journal log list,,Date:,04/06/2024,,,,
281,1 of 10346,,EX VAT @ 13.5% €10.67,,,Journal log list,,Date:,04/06/2024,,,,
282,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,
283,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,
284,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024,,,,
285,1 of 10346,,REG SINEAD 03-01-2023 15:05 000278,,,Journal log list,,Date:,04/06/2024,,,,
286,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024,,,,
287,1 of 10346,,REG SINEAD 03-01-2023 15:05 000279,,,Journal log list,,Date:,04/06/2024,,,,
288,1 of 10346,,SHOW TABLES 2,,,Journal log list,,Date:,04/06/2024,,,,
289,1 of 10346,,1 CHK TSD €11.50,,,Journal log list,,Date:,04/06/2024,,,,
290,1 of 10346,,SAUTEED,,,Journal log list,,Date:,04/06/2024,,,,
291,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,
292,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,
293,1 of 10346,,,,,Journal log list,,Date:,04/06/2024,,,,
294,1 of 10346,,_C_H_A_N_G_E €5.50,,,Journal log list,,Date:,04/06/2024,,,,
295,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024,,,,
296,1 of 10346,,REG SINEAD 03-01-2023 15:14 000289,,,Journal log list,,Date:,04/06/2024,,,,
297,1 of 10346,,NEW ANTRIM,,,Journal log list,,Date:,04/06/2024,,,,
298,1 of 10346,,REG SINEAD 03-01-2023 15:14 000290,,,Journal log list,,Date:,04/06/2024,,,,
299,1 of 10346,,SHOW TABLES 1,,,Journal log list,,Date:,04/06/2024,,,,

In [ ]:
# Fonction pour extraire les informations
def extract_information(row):
    match = re.match(r'([A-Z\s]+)\s+(\d{2}-\d{2}-\d{4}|\d{4}-\d{2}-\d{2})\s+(\d{2}:\d{2})\s+(\d+)', row)
    if match:
        prenom = match.group(1).strip()
        date = match.group(2)
        heure = match.group(3)
        transaction_num = match.group(4)
        return pd.Series([prenom, date, heure, transaction_num])
    else:
        return pd.Series(['', '', '', ''])  # Retourner des valeurs vides si le format ne correspond pas

# Appliquer la fonction et créer de nouvelles colonnes
df_rua[['Prenom', 'Date', 'Heure', 'Transaction']] = df_rua['Unnamed: 2'].apply(extract_information)

In [ ]:
df_rua.iloc[275:300]

In [ ]:
# Fonction pour extraire le prix
def extract_price(row):
    match = re.search(r'€(\d+\.\d{2})', row)
    if match:
        return match.group(1)
    else:
        return ''

# Appliquer la fonction et créer une nouvelle colonne 'Prix'
df_rua['Prix'] = df_rua['Unnamed: 2'].apply(extract_price)

In [ ]:
df_rua.iloc[275:300]

In [ ]:
df_rua.columns

In [ ]:
# Liste des colonnes à supprimer
cols_to_drop = ['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

# Supprimer les colonnes spécifiées
df_rua.drop(cols_to_drop, axis=1, inplace=True)

In [ ]:
df_rua.iloc[350:375]

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(data):
    total_transaction = ''
    for cell in data.split('\n'):
        match = re.search(r'_T_O_T_A_L\s*€(\d+\.\d{2})', cell)
        if match:
            total_transaction = match.group(1)
    return total_transaction

# Appliquer la fonction et créer une nouvelle colonne 'Total Transaction'
df_rua['Total Transaction'] = df_rua['Unnamed: 2'].apply(extract_total_transaction)

In [ ]:
df_rua.iloc[350:375]

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(row):
    # Expression régulière pour trouver le total de la transaction avec underscores
    match = re.search(r'_T_O_T_A_L\s*_\s*_\s*_€_([0-9_]+(?:\.\d{2}))', row)
    if match:
        # Nettoyer le montant pour retirer les underscores
        total_str = match.group(1).replace('_', '')
        return total_str
    else:
        return ''

# Appliquer la fonction à chaque cellule de la colonne 'Unnamed: 2' et créer une nouvelle colonne 'Total Transaction'
df_rua['Total Transaction'] = df_rua['Unnamed: 2'].apply(extract_total_transaction)

In [ ]:
df_rua.iloc[350:375]

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(row):
    match = re.search(r'_T_O_T_A_L\s*_[\s\d_]*€(\d+\.\d{2})', row)
    if match:
        return match.group(1)
    else:
        return ''

# Appliquer la fonction et créer une nouvelle colonne 'Total Transaction'
df_rua['Total Transaction'] = df_rua['Unnamed: 2'].apply(extract_total_transaction)

In [ ]:
df_rua.iloc[350:375]

In [ ]:
# Fonction pour extraire le total de la transaction
def extract_total_transaction(row):
    match = re.search(r'_T_O_T_A_L\s*_[\s\d_]*€([\d._]+)', row)
    if match:
        total_str = match.group(1).replace('_', '').replace('.', '').replace(',', '.')
        return total_str
    else:
        return ''

# Appliquer la fonction et créer une nouvelle colonne 'Total Transaction'
df_rua['Total Transaction'] = df_rua['Unnamed: 2'].apply(extract_total_transaction)/100

In [ ]:
df_rua.iloc[350:375]

In [ ]:
df_rua.iloc[400:450]

In [ ]:
df_rua.to_csv('rua_2023_clean_v2.csv', index=False)

In [ ]:
df_rua.iloc[1000:1050]

In [12]:
df_rua = pd.read_csv('/content/rua_2023_clean_v2.csv')

In [13]:
df_rua.iloc[1000:1050]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 4,Prenom,Date,Heure,Transaction,Prix,Total Transaction
1000,1 of 10346,1 ORANGE/LEMON CAKE €5.20,NaN,NaN,NaN,NaN,NaN,5.20,NaN
1001,1 of 10346,1 AMERICANO LRG €3.50,NaN,NaN,NaN,NaN,NaN,3.50,NaN
1002,1 of 10346,1 LATTE €3.80,NaN,NaN,NaN,NaN,NaN,3.80,NaN
1003,1 of 10346,1 CAPPUCCINO LRG €3.80,NaN,NaN,NaN,NaN,NaN,3.80,NaN
1004,1 of 10346,VOID,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,1 of 10346,-1 LATTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,1 of 10346,SUBTOTAL €45.10,NaN,NaN,NaN,NaN,NaN,45.10,NaN
1009,1 of 10346,6 No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,1 of 10346,HOLD BALANCE _ _ _€_4_5_._1_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,1 of 10346,REG COLLEEN 05-01-2023 16:51 000769,NaN,REG COLLEEN,05-01-2023,16:51,769.0,NaN,NaN
1013,1 of 10346,NO SALE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1014,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,1 of 10346,REG COLLEEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,1 of 10346,"""F"",""FILE993"",""Z"",""D""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1017,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018,1 of 10346,REG 06-01-2023 05:27 000002,NaN,REG,06-01-2023,05:27,2.0,NaN,NaN
1019,1 of 10346,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,1 of 10346,Z 0000058 E-JOURNAL 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,1 of 10346,REG 06-01-2023 05:27 000003,NaN,REG,06-01-2023,05:27,3.0,NaN,NaN
1026,1 of 10346,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,1 of 10346,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,1 of 10346,Normal End,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1029,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,1 of 10346,REG 06-01-2023 05:27 000004,NaN,REG,06-01-2023,05:27,4.0,NaN,NaN
1031,1 of 10346,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,1 of 10346,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033,1 of 10346,Normal End,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,1 of 10346,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1036,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1037,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1038,1 of 10346,REG DANIELLE 06-01-2023 09:06 000017,NaN,REG DANIELLE,06-01-2023,09:06,17.0,NaN,NaN
1039,1 of 10346,SHOW TABLES 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1040,1 of 10346,SUBTOTAL €3.50,NaN,NaN,NaN,NaN,NaN,3.50,NaN
1041,1 of 10346,1 No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1042,1 of 10346,EX VAT@9% €3.22,NaN,NaN,NaN,NaN,NaN,3.22,NaN
1043,1 of 10346,VAT@9%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1044,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,1 of 10346,EXTRA RASHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,1 of 10346,3 No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,1 of 10346,HOLD BALANCE _ _ _€_2_0_._8_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1049,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_rua.fillna(' ')

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 4,Prenom,Date,Heure,Transaction,Prix,Total Transaction
0,1 of 10346,,,,,,,,
1,1 of 10346,,,,,,,,
2,1 of 10346,NEW ANTRIM,,,,,,,
3,1 of 10346,"""F"",""FILE993"",""Z"",""D""",,,,,,,
4,1 of 10346,NEW ANTRIM,,,,,,,
...,...,...,...,...,...,...,...,...,...
99858,1 of 10346,NEW ANTRIM,,,,,,,
99859,1 of 10346,REG 31-12-2023 05:24 000003,,REG,31-12-2023,05:24,3.0,,
99860,1 of 10346,Inline,,,,,,,
99861,1 of 10346,Receive,,,,,,,
99862,1 of 10346,,,,,,,,

In [15]:
df_rua.iloc[1000:1050]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 4,Prenom,Date,Heure,Transaction,Prix,Total Transaction
1000,1 of 10346,1 ORANGE/LEMON CAKE €5.20,NaN,NaN,NaN,NaN,NaN,5.20,NaN
1001,1 of 10346,1 AMERICANO LRG €3.50,NaN,NaN,NaN,NaN,NaN,3.50,NaN
1002,1 of 10346,1 LATTE €3.80,NaN,NaN,NaN,NaN,NaN,3.80,NaN
1003,1 of 10346,1 CAPPUCCINO LRG €3.80,NaN,NaN,NaN,NaN,NaN,3.80,NaN
1004,1 of 10346,VOID,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,1 of 10346,-1 LATTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,1 of 10346,SUBTOTAL €45.10,NaN,NaN,NaN,NaN,NaN,45.10,NaN
1009,1 of 10346,6 No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,1 of 10346,HOLD BALANCE _ _ _€_4_5_._1_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,1 of 10346,REG COLLEEN 05-01-2023 16:51 000769,NaN,REG COLLEEN,05-01-2023,16:51,769.0,NaN,NaN
1013,1 of 10346,NO SALE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1014,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,1 of 10346,REG COLLEEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,1 of 10346,"""F"",""FILE993"",""Z"",""D""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1017,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018,1 of 10346,REG 06-01-2023 05:27 000002,NaN,REG,06-01-2023,05:27,2.0,NaN,NaN
1019,1 of 10346,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,1 of 10346,Z 0000058 E-JOURNAL 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,1 of 10346,REG 06-01-2023 05:27 000003,NaN,REG,06-01-2023,05:27,3.0,NaN,NaN
1026,1 of 10346,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,1 of 10346,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,1 of 10346,Normal End,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1029,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,1 of 10346,REG 06-01-2023 05:27 000004,NaN,REG,06-01-2023,05:27,4.0,NaN,NaN
1031,1 of 10346,Inline,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,1 of 10346,Receive,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033,1 of 10346,Normal End,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,1 of 10346,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1036,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1037,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1038,1 of 10346,REG DANIELLE 06-01-2023 09:06 000017,NaN,REG DANIELLE,06-01-2023,09:06,17.0,NaN,NaN
1039,1 of 10346,SHOW TABLES 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1040,1 of 10346,SUBTOTAL €3.50,NaN,NaN,NaN,NaN,NaN,3.50,NaN
1041,1 of 10346,1 No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1042,1 of 10346,EX VAT@9% €3.22,NaN,NaN,NaN,NaN,NaN,3.22,NaN
1043,1 of 10346,VAT@9%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1044,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,1 of 10346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,1 of 10346,EXTRA RASHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,1 of 10346,3 No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,1 of 10346,HOLD BALANCE _ _ _€_2_0_._8_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1049,1 of 10346,NEW ANTRIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_rua.fillna(' ', inplace=True)

In [22]:
df_rua.iloc[1350:1400]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 4,Prenom,Date,Heure,Transaction,Prix,Total Transaction
1350,1 of 10346,REG SINEAD 06-01-2023 16:52 000428,,REG SINEAD,06-01-2023,16:52,428.0,,
1351,1 of 10346,SHOW TABLES 9,,,,,,,
1352,1 of 10346,2 No,,,,,,,
1353,1 of 10346,HOLD BALANCE _ _ _€_1_7,,,,,,,
1354,1 of 10346,,,,,,,,
1355,1 of 10346,,,,,,,,
1356,1 of 10346,REG SINEAD 06-01-2023 17:33 000439,,REG SINEAD,06-01-2023,17:33,439.0,,
1357,1 of 10346,SHOW TABLES 55,,,,,,,
1358,1 of 10346,SUBTOTAL €0.00,,,,,,0.0,
1359,1 of 10346,0 No,,,,,,,
1360,1 of 10346,HOLD BALANCE _ _ _€_0_._0_0,,,,,,,
1361,1 of 10346,NEW ANTRIM,,,,,,,
1362,1 of 10346,REG SINEAD 06-01-2023 17:33,,,,,,,
1363,1 of 10346,,,,,,,,
1364,1 of 10346,,,,,,,,
1365,1 of 10346,Visa €7.40,,,,,,7.4,
1366,1 of 10346,NEW ANTRIM,,,,,,,
1367,1 of 10346,REG LISA 07-01-2023 09:47 000449,,REG LISA,07-01-2023,09:47,449.0,,
1368,1 of 10346,SHOW TABLES 4,,,,,,,
1369,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,
1370,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,
1371,1 of 10346,,,,,,,,
1372,1 of 10346,,,,,,,,
1373,1 of 10346,,,,,,,,
1374,1 of 10346,REG SINEAD 07-01-2023 10:00 000463,,REG SINEAD,07-01-2023,10:00,463.0,,
1375,1 of 10346,SHOW TABLES 2,,,,,,,
1376,1 of 10346,NEW ANTRIM,,,,,,,
1377,1 of 10346,REG SINEAD 07-01-2023 10:00 000464,,REG SINEAD,07-01-2023,10:00,464.0,,
1378,1 of 10346,SHOW TABLES 3,,,,,,,
1379,1 of 10346,11 No,,,,,,,
1380,1 of 10346,HOLD BALANCE _ _ _€,,,,,,,
1381,1 of 10346,,,,,,,,
1382,1 of 10346,,,,,,,,
1383,1 of 10346,_C_H_A_N_G_E €12.80,,,,,,12.8,
1384,1 of 10346,NEW ANTRIM,,,,,,,
1385,1 of 10346,REG Holly 07-01-2023 10:11 000476,,,,,,,
1386,1 of 10346,SHOW TABLES 7,,,,,,,
1387,1 of 10346,1 SCRAM BFAST €10.95,,,,,,10.95,
1388,1 of 10346,BACON W/D,,,,,,,
1389,1 of 10346,1 PTN SAUTEED €4.00,,,,,,4.0,
1390,1 of 10346,1,,,,,,,
1391,1 of 10346,,,,,,,,
1392,1 of 10346,,,,,,,,
1393,1 of 10346,SHOW TABLES 9,,,,,,,
1394,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,
1395,1 of 10346,1 CAPPUCCINO LRG €3.80,,,,,,3.8,
1396,1 of 10346,1 CAPPUCCINO LRG €3.80,,,,,,3.8,
1397,1 of 10346,VOID,,,,,,,
1398,1 of 10346,-1 AMERICANO LRG -3.50,,,,,,,
1399,1 of 10346,1 CHORIZO BFAST €10.95,,,,,,10.95,

In [23]:
df_menu=pd.read_csv('/content/liste menu.csv')

In [24]:
df_menu

          Dish Name;Price;Category;Till extract name;
0                        Today's Soup;6.5;Lunch;SOUP;
1   Warm Chicken Salad;13.95;Lunch;WARM CHICKEN SA...
2   Ortiz Tuna & Free Range Egg;13.95;Lunch;TUNA S...
3   Warm Goats Cheese;13.95;Lunch;GOAT CHEESE SALAD ;
4     Rua Chicken Liver Pate;11.95;Lunch;RUA TOASTED;
5   Goats Cheese;11.5; Beetroot & Fennel Jam;GOATS...
6   Roast Chicken;11.5; Arrabbiata Sauce;CHK TSD;S...
7   Andarl Farm Bacon & Cheddar Rarebit;11.5;Sandw...
8   Chickpea Falafel Burger;13.5;Sandwich;FALAFEL ...
9        Kelly's Sausages;10.95;Sandwich;KELLYS BLAA;
10               Cafe Rua Fry;13.5;Bricfeasta;CR FRY;
11               Vegan Fry;12.5;Bricfeasta;VEGAN FRY;
12  Free Range Scrambled Eggs;10.95;Bricfeasta;SCR...
13  Chorizo Hash with Fried Egg;10.95;Bricfeasta;C...
14      French Toast;10.95;Bricfeasta;FR TOAST BACON;
15  Breakfast Blaa;6.95/9.95;Bricfeasta;BREAKFAST ...
16                  Porridge;5.5;Bricfeasta;PORRIDGE;
17            Rua Granola;5.5;Bricfeasta;GRANOLA (n);
18             Bircher Muesli;5.5;Bricfeasta;BIRCHER;
19                     Leaf Salad;3;Sides;LEAF SALAD;
20       Carrot & Coriander Slow;3;Sides;PORTION VEG;
21         Potato & Scallion Salad;3;Sides;POT SALAD;
22       Pappardelle Pasta Salad;3;Sides;PASTA SALAD;
23                   Halloumi;3.5;Sides;PTN HALLOUMI;
24       Flatfield Mushrooms;3.5;Sides;PTN MUSHROOMS;
25     Kelly's Dry Cured Rashers;3;Sides;PTN RASHERS;
26             Kelly's Sausages;3;Sides;PTN SAUSAGES;
27                   Free Range Egg;1.6;Sides;FR EGG;
28               Grilled Tomatoes;2;Sides;PTN TOMATO;
29                      Fried Potatoes;4;Sides;#REF!;
30               Kelly's Pudding;3;Sides;PTN PUDDING;
31                 Extra Maple;2;Sides;MAPLE ON SIDE;
32  Bean West Coffee;0.6;Drinks;XTRA SHOT OAT;OAT ...
33  Organic Fairtrade Hot Chocolate;3.7;Drinks;HOT...
34     Pot of Barry's Tea (pot for 1);2.6;Drinks;TEA;
35  Clement & Pekoe Loose Leaf Tea (pot for 1);3.5...
36  Freshly Squeezed Orange Juice;3.5;Drinks;FRESH...

from matplotlib import pyplot as plt
_df_0['index'].plot(kind='hist', bins=20, title='index')
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  palette = list(sns.palettes.mpl_palette('Dark2'))
  counted = (series['index']
                .value_counts()
              .reset_index(name='counts')
              .rename({'index': 'index'}, axis=1)
              .sort_values('index', ascending=True))
  xs = counted['index']
  ys = counted['counts']
  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_1.sort_values('index', ascending=True)
_plot_series(df_sorted, '')
sns.despine(fig=fig, ax=ax)
plt.xlabel('index')
_ = plt.ylabel('count()')

from matplotlib import pyplot as plt
_df_2['index'].plot(kind='line', figsize=(8, 4), title='index')
plt.gca().spines[['top', 'right']].set_visible(False)

In [25]:
df_menu_2=pd.read_csv('/content/Menu dictionary.csv')

In [26]:
df_menu_2

,Dish Name,Price,Category,Till extract name,Unnamed: 4
0,Today's Soup,6.5,Lunch,NaN,NaN
1,Warm Chicken Salad,13.95,Lunch,NaN,NaN
2,Ortiz Tuna & Free Range Egg,13.95,Lunch,NaN,NaN
3,Warm Goats Cheese,13.95,Lunch,NaN,NaN
4,Rua Chicken Liver Pate,11.95,Lunch,NaN,NaN
5,"Goats Cheese, Beetroot & Fennel Jam",11.5,Sandwich,NaN,NaN
6,"Roast Chicken, Arrabbiata Sauce",11.5,Sandwich,NaN,NaN
7,Andarl Farm Bacon & Cheddar Rarebit,11.5,Sandwich,NaN,NaN
8,Chickpea Falafel Burger,13.5,Sandwich,NaN,NaN
9,Kelly's Sausages,10.95,Sandwich,NaN,NaN
10,Cafe Rua Fry,13.5,Bricfeasta,NaN,NaN
11,Vegan Fry,12.5,Bricfeasta,NaN,NaN
12,Free Range Scrambled Eggs,10.95,Bricfeasta,NaN,NaN
13,Chorizo Hash with Fried Egg,10.95,Bricfeasta,NaN,NaN
14,French Toast,10.95,Bricfeasta,NaN,NaN
15,Breakfast Blaa,6.95/9.95,Bricfeasta,NaN,NaN
16,Porridge,5.5,Bricfeasta,NaN,NaN
17,Rua Granola,5.5,Bricfeasta,NaN,NaN
18,Bircher Muesli,5.5,Bricfeasta,NaN,NaN
19,Leaf Salad,3,Sides,NaN,NaN
20,Carrot & Coriander Slow,3,Sides,NaN,NaN
21,Potato & Scallion Salad,3,Sides,NaN,NaN
22,Pappardelle Pasta Salad,3,Sides,NaN,NaN
23,Halloumi,3.5,Sides,NaN,NaN
24,Flatfield Mushrooms,3.5,Sides,NaN,NaN
25,Kelly's Dry Cured Rashers,3,Sides,NaN,NaN
26,Kelly's Sausages,3,Sides,NaN,NaN
27,Free Range Egg,1.6,Sides,NaN,NaN
28,Grilled Tomatoes,2,Sides,NaN,NaN
29,Fried Potatoes,4,Sides,NaN,NaN
30,Kelly's Pudding,3,Sides,NaN,NaN
31,Extra Maple,2,Sides,NaN,NaN
32,Bean West Coffee,0.6,Drinks,NaN,NaN
33,Organic Fairtrade Hot Chocolate,3.7,Drinks,NaN,NaN
34,Pot of Barry's Tea (pot for 1),2.6,Drinks,NaN,NaN
35,Clement & Pekoe Loose Leaf Tea (pot for 1),3.55,Drinks,NaN,NaN
36,Freshly Squeezed Orange Juice,3.5,Drinks,NaN,NaN

In [27]:
# Créer une nouvelle colonne 'ITEM' et y mettre 'Chorizo Hash with Fried Egg' chaque fois que 'CHORIZO BFAST' apparaît dans 'Unnamed: 2'

In [28]:
df_rua.iloc[1350:1400]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 4,Prenom,Date,Heure,Transaction,Prix,Total Transaction,ITEM
1350,1 of 10346,REG SINEAD 06-01-2023 16:52 000428,,REG SINEAD,06-01-2023,16:52,428.0,,,
1351,1 of 10346,SHOW TABLES 9,,,,,,,,
1352,1 of 10346,2 No,,,,,,,,
1353,1 of 10346,HOLD BALANCE _ _ _€_1_7,,,,,,,,
1354,1 of 10346,,,,,,,,,
1355,1 of 10346,,,,,,,,,
1356,1 of 10346,REG SINEAD 06-01-2023 17:33 000439,,REG SINEAD,06-01-2023,17:33,439.0,,,
1357,1 of 10346,SHOW TABLES 55,,,,,,,,
1358,1 of 10346,SUBTOTAL €0.00,,,,,,0.0,,
1359,1 of 10346,0 No,,,,,,,,
1360,1 of 10346,HOLD BALANCE _ _ _€_0_._0_0,,,,,,,,
1361,1 of 10346,NEW ANTRIM,,,,,,,,
1362,1 of 10346,REG SINEAD 06-01-2023 17:33,,,,,,,,
1363,1 of 10346,,,,,,,,,
1364,1 of 10346,,,,,,,,,
1365,1 of 10346,Visa €7.40,,,,,,7.4,,
1366,1 of 10346,NEW ANTRIM,,,,,,,,
1367,1 of 10346,REG LISA 07-01-2023 09:47 000449,,REG LISA,07-01-2023,09:47,449.0,,,
1368,1 of 10346,SHOW TABLES 4,,,,,,,,
1369,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,,
1370,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,,
1371,1 of 10346,,,,,,,,,
1372,1 of 10346,,,,,,,,,
1373,1 of 10346,,,,,,,,,
1374,1 of 10346,REG SINEAD 07-01-2023 10:00 000463,,REG SINEAD,07-01-2023,10:00,463.0,,,
1375,1 of 10346,SHOW TABLES 2,,,,,,,,
1376,1 of 10346,NEW ANTRIM,,,,,,,,
1377,1 of 10346,REG SINEAD 07-01-2023 10:00 000464,,REG SINEAD,07-01-2023,10:00,464.0,,,
1378,1 of 10346,SHOW TABLES 3,,,,,,,,
1379,1 of 10346,11 No,,,,,,,,
1380,1 of 10346,HOLD BALANCE _ _ _€,,,,,,,,
1381,1 of 10346,,,,,,,,,
1382,1 of 10346,,,,,,,,,
1383,1 of 10346,_C_H_A_N_G_E €12.80,,,,,,12.8,,
1384,1 of 10346,NEW ANTRIM,,,,,,,,
1385,1 of 10346,REG Holly 07-01-2023 10:11 000476,,,,,,,,
1386,1 of 10346,SHOW TABLES 7,,,,,,,,
1387,1 of 10346,1 SCRAM BFAST €10.95,,,,,,10.95,,
1388,1 of 10346,BACON W/D,,,,,,,,
1389,1 of 10346,1 PTN SAUTEED €4.00,,,,,,4.0,,
1390,1 of 10346,1,,,,,,,,
1391,1 of 10346,,,,,,,,,
1392,1 of 10346,,,,,,,,,
1393,1 of 10346,SHOW TABLES 9,,,,,,,,
1394,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,,
1395,1 of 10346,1 CAPPUCCINO LRG €3.80,,,,,,3.8,,
1396,1 of 10346,1 CAPPUCCINO LRG €3.80,,,,,,3.8,,
1397,1 of 10346,VOID,,,,,,,,
1398,1 of 10346,-1 AMERICANO LRG -3.50,,,,,,,,
1399,1 of 10346,1 CHORIZO BFAST €10.95,,,,,,10.95,,Chorizo Hash with Fried Egg

In [29]:
# Créer une nouvelle colonne 'ITEM' et y mettre 'Chorizo Hash with Fried Egg' chaque fois que 'CHORIZO BFAST' apparaît dans 'Unnamed: 2'
df_rua['CATEGORY'] = df_rua['Unnamed: 2'].apply(lambda x: 'Bricfeasta' if 'CHORIZO BFAST' in x else '')

In [32]:
df_rua.iloc[1350:1400]

,CAFE RUA\n\n.\nCASTLEBAR\nCOUNTY MAYO\n,Unnamed: 2,Unnamed: 4,Prenom,Date,Heure,Transaction,Prix,Total Transaction,ITEM,CATEGORY
1350,1 of 10346,REG SINEAD 06-01-2023 16:52 000428,,REG SINEAD,06-01-2023,16:52,428.0,,,,
1351,1 of 10346,SHOW TABLES 9,,,,,,,,,
1352,1 of 10346,2 No,,,,,,,,,
1353,1 of 10346,HOLD BALANCE _ _ _€_1_7,,,,,,,,,
1354,1 of 10346,,,,,,,,,,
1355,1 of 10346,,,,,,,,,,
1356,1 of 10346,REG SINEAD 06-01-2023 17:33 000439,,REG SINEAD,06-01-2023,17:33,439.0,,,,
1357,1 of 10346,SHOW TABLES 55,,,,,,,,,
1358,1 of 10346,SUBTOTAL €0.00,,,,,,0.0,,,
1359,1 of 10346,0 No,,,,,,,,,
1360,1 of 10346,HOLD BALANCE _ _ _€_0_._0_0,,,,,,,,,
1361,1 of 10346,NEW ANTRIM,,,,,,,,,
1362,1 of 10346,REG SINEAD 06-01-2023 17:33,,,,,,,,,
1363,1 of 10346,,,,,,,,,,
1364,1 of 10346,,,,,,,,,,
1365,1 of 10346,Visa €7.40,,,,,,7.4,,,
1366,1 of 10346,NEW ANTRIM,,,,,,,,,
1367,1 of 10346,REG LISA 07-01-2023 09:47 000449,,REG LISA,07-01-2023,09:47,449.0,,,,
1368,1 of 10346,SHOW TABLES 4,,,,,,,,,
1369,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,,,
1370,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,,,
1371,1 of 10346,,,,,,,,,,
1372,1 of 10346,,,,,,,,,,
1373,1 of 10346,,,,,,,,,,
1374,1 of 10346,REG SINEAD 07-01-2023 10:00 000463,,REG SINEAD,07-01-2023,10:00,463.0,,,,
1375,1 of 10346,SHOW TABLES 2,,,,,,,,,
1376,1 of 10346,NEW ANTRIM,,,,,,,,,
1377,1 of 10346,REG SINEAD 07-01-2023 10:00 000464,,REG SINEAD,07-01-2023,10:00,464.0,,,,
1378,1 of 10346,SHOW TABLES 3,,,,,,,,,
1379,1 of 10346,11 No,,,,,,,,,
1380,1 of 10346,HOLD BALANCE _ _ _€,,,,,,,,,
1381,1 of 10346,,,,,,,,,,
1382,1 of 10346,,,,,,,,,,
1383,1 of 10346,_C_H_A_N_G_E €12.80,,,,,,12.8,,,
1384,1 of 10346,NEW ANTRIM,,,,,,,,,
1385,1 of 10346,REG Holly 07-01-2023 10:11 000476,,,,,,,,,
1386,1 of 10346,SHOW TABLES 7,,,,,,,,,
1387,1 of 10346,1 SCRAM BFAST €10.95,,,,,,10.95,,,
1388,1 of 10346,BACON W/D,,,,,,,,,
1389,1 of 10346,1 PTN SAUTEED €4.00,,,,,,4.0,,,
1390,1 of 10346,1,,,,,,,,,
1391,1 of 10346,,,,,,,,,,
1392,1 of 10346,,,,,,,,,,
1393,1 of 10346,SHOW TABLES 9,,,,,,,,,
1394,1 of 10346,1 AMERICANO LRG €3.50,,,,,,3.5,,,
1395,1 of 10346,1 CAPPUCCINO LRG €3.80,,,,,,3.8,,,
1396,1 of 10346,1 CAPPUCCINO LRG €3.80,,,,,,3.8,,,
1397,1 of 10346,VOID,,,,,,,,,
1398,1 of 10346,-1 AMERICANO LRG -3.50,,,,,,,,,
1399,1 of 10346,1 CHORIZO BFAST €10.95,,,,,,10.95,,Chorizo Hash with Fried Egg,Bricfeasta

In [33]:
df_rua.to_csv('rua_2023_clean_v3.csv', index=False)